<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>
        <span><b>Contract Management</b></span>
      </h3>
      <div class="card acik-renk-form">
        <!--      Form management User-->
        <form [formGroup]="formSearchContract">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group ">
                  <label >* Organization Classification</label >
                  <br/>
                  <input (ngModelChange)="resetValueInputSearchOrgName()" formControlName="organClassifi" placeholder="10: Nice" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label >* Product Code</label >
                  <br/>
                  <div class="btn-group">
                    <input type="text" formControlName="productCode" class="form-control">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle"
                            data-toggle="modal" data-target="#productCode">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label>*
                Information Status</label>
                <br/>
                <div class="form-group ">
                  <select formControlName="status" id="ilceler" class="custom-select">
                    <option value = 1 [selected]="true">Active</option>
                    <option value = 2>Expire</option>
                    <option value = 3 >All</option>

                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="text-right">
                    <button *ngIf="isLooking ; else other" class="btn btn-outline-primary">
                      Looking
                      <span class="spinner-border spinner-border-sm"></span>
                    </button>
                  <ng-template #other>
                    <button name="button" class="btn btn-outline-primary" (click)="searchContract()">Look up</button>
                  </ng-template>
                    <button *ngIf="checkRoleAccount.isRoleAdmin" type="button" class="btn btn-outline-success" data-toggle="modal"
                            data-target="#myModalRegister" (click)=" resetValueFormCreateContract()">
                    Register
                    </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group ">
                  <label>* Organization Code</label>
                  <br/>
                  <input (ngModelChange)="resetValueInputSearchOrgName()" formControlName="organCd" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label>*
                    Organization English Name
                  </label>
                  <br/>
                  <div class="btn-group">
                    <input disabled formControlName="organNM" type="text" class="form-control">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle"
                            data-toggle="modal" data-target="#ModalOrganizationName">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
              </div>
              <div class="col-md-3">
              </div>
            </div>
          </div>
        </form>
        <!--      -->
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <hr>
  <h3 *ngIf="mesQuery">
    <span><b>Detailed Contract Information</b></span>
  </h3>
  <div class="row">
    <div class="col-md-12">
      <!--     result query status here-->
      <div>
        <div *ngIf="mesQuery" class="card-header">
          <span class="text text-sm-left">* Inquiry Result: {{mesQuery}}</span>
          <br/>
          <span class="text text-sm-left">* Inquiry Date: {{timeQuery}}</span>
        </div>
        <!--     -->
        <!--result table-->
        <div style="overflow-x:auto;"  *ngIf="listContract">
        <table class="table table-bordered text-center" style="background: white" >
          <thead class="bg-primary">
          <tr>
            <th scope="col">Class</th>
            <th scope="col">Code</th>
            <th scope="col">English Name</th>
            <th scope="col">Product Code</th>
            <th scope="col">Final Operation date</th>
            <th scope="col">Valid Start Date</th>
            <th scope="col">Valid End Date</th>
            <th scope="col">Work ID</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let contract of listContract.rowRs" (dblclick)="openDetailForm(contract,openModalUpdate)">
            <th scope="row">{{contract.CUST_GB}}</th>
            <td>{{contract.CUST_CODE}}</td>
            <td>{{contract.CUST_NM_ENG}}</td>
            <td>{{contract.PRODUCT_CODE}}</td>
            <td>{{contract.SYS_DTIM}}</td>
            <td>{{contract.VALID_START_DT}}</td>
            <td>{{contract.VALID_END_DT}}</td>
            <td>{{contract.WORK_ID}}</td>
            <td *ngIf="contract.STATUS == 1" class="text-success">Active</td>
            <td *ngIf="contract.STATUS == 0" class="text-danger">History</td>
            <td *ngIf="contract.STATUS == null" class="text-warning">Expired</td>
            <td><button class="btn btn-sm btn-instagram" (click)="openDetailForm(contract,openModalUpdate)">Detail</button> </td>
          </tr>
          </tbody>
        </table>
          <div>
            <nav aria-label="Page navigation example">
              <ul *ngIf="pagerContract.pages && pagerContract.pages.length && listContract" class="pagination justify-content-center">
                <li [ngClass]="{disabled:pagerContract.currentPage == 1}" class="page-item">
                  <a (click)="setPageSearchContract(1)" (click)="paginationContract(0)" class="page-link" aria-label="Previous">
                    First
                  </a>
                </li>
                <li [ngClass]="{disabled:pagerContract.currentPage == 1}" class="page-item">
                  <a (click)="setPageSearchContract(pagerContract.currentPage - 1)" (click)="paginationContract(pagerContract.currentPage - 2)" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li *ngFor="let page of pagerContract.pages"  [ngClass]="{active:pagerContract.currentPage == page}" class="page-item">
                  <a class="page-link" (click)="setPageSearchContract(page)" (click)="paginationContract(page - 1)">{{page}}</a></li>
                <li [ngClass]="{disabled:pagerContract.currentPage == pagerContract.totalPages}" class="page-item">
                  <a (click)="setPageSearchContract(pagerContract.currentPage + 1) " (click)="paginationContract(pagerContract.currentPage - 1)" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li [ngClass]="{disabled:pagerContract.currentPage == pagerContract.totalPages}" class="page-item">
                  <a (click)="paginationContract(pagerContract.totalPages - 1)" (click)="setPageSearchContract(pagerContract.totalPages)" class="page-link" aria-label="Next">
                    Last
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--      -->
      </div>
    </div>
  </div>
</div>

<!-- Modal show Organization Name -->
<div class="modal fade" id="ModalOrganizationName" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Organization Selection</h5>
        <button #closeOrnName type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md 12">
            <form [formGroup]="formSearchOrgModal">
              * Organization Classification
              <br/>
              <input formControlName="custClassicfication" type="text" class="form-control-sm">

              <br/>
              <br/>

              * Organization English Name
              <br/>
              <input formControlName="custNm" type="text" class="form-control-sm">
              <br/>
              <br/>
              <span class="text-danger">
               {{mesSearchOrg}}
             </span>
              <div class="text-center">
                <button *ngIf="isLookingOrg ; else otherOr" class="btn btn-outline-primary btn-sm">
                  <span class="spinner-border spinner-border-sm"></span>
                  Looking..
                </button>
                <ng-template #otherOr>
                <button class="btn btn-sm btn-outline-primary" (click)="searchOrgByNameAndClass()">Look up</button>
                </ng-template>
              </div>
            </form>
          </div>
        </div>
        <hr>
        <div class="row" *ngIf="listOrg" style="overflow-x:auto;">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead class="thead-light fixed">
              <tr>
                <th  scope="col">Classification</th>
                <th  scope="col">Code</th>
                <th  scope="col">English Name</th>
                <th  scope="col"></th>
              </tr>
              </thead>
              <tr *ngFor="let cust of listOrg.rowRs" (dblclick)="getDataToInputSearch(closeOrnName,cust)">
                <td class="text-center" >{{cust.CUST_GB}}</td>
                <td class="text-center" >{{cust.CUST_CD}}</td>
                <td class="text-center" >{{cust.CUST_NM_ENG}}</td>
                <td ><button (click)="getDataToInputSearch(closeOrnName,cust)" class="btn btn-sm btn-instagram"><i class="icon-plus"></i></button></td>
              </tr>
            </table>
            <div *ngIf="listOrg">
              <nav aria-label="Page navigation example">
                <ul *ngIf="pagerOrg.pages && pagerOrg.pages.length" class="pagination pagination-sm justify-content-center">
                  <li [ngClass]="{disabled:pagerOrg.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchCustModal(1)" (click)="paginationCustModal(0)" class="page-link" aria-label="Previous">
                      First
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerOrg.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchCustModal(pagerOrg.currentPage - 1)" (click)="paginationCustModal(pagerOrg.currentPage - 2)" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li *ngFor="let page of pagerOrg.pages" [ngClass]="{active:pagerOrg.currentPage == page}" class="page-item">
                    <a class="page-link" (click)="setPageSearchCustModal(page)" (click)="paginationCustModal(page - 1)">{{page}}</a></li>
                  <li [ngClass]="{disabled:pagerOrg.currentPage == pagerOrg.totalPages}" class="page-item">
                    <a (click)="setPageSearchCustModal(pagerOrg.currentPage + 1) " (click)="paginationCustModal(pagerOrg.currentPage - 1)" class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerOrg.currentPage == pagerOrg.totalPages}" class="page-item">
                    <a (click)="paginationCustModal(pagerOrg.totalPages - 1)" (click)="setPageSearchCustModal(pagerOrg.totalPages)" class="page-link" aria-label="Next">
                      Last
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---->

<!-- Modal show product code -->
<div class="modal fade" id="productCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Product Selection</h5>
        <button #closeSearchProductCodeModal type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSearchProductCode">
        <div class="row">
          <div class="col-md 12">
            * Product Code
            <br/>
            <input formControlName="productCode" type="text" class="form-control-sm">

            <br/>
            <br/>
            * Product Name
            <br/>
            <input formControlName="productNM" type="text" class="form-control-sm">
            <br/>
            <br/>
            <div class="text-center">
              <button *ngIf="isLookingProduct ; else otherPr1" class="btn btn-outline-primary btn-sm">
                <span class="spinner-border spinner-border-sm"></span>
                Looking..
              </button>
              <ng-template #otherPr1>
              <button class="btn btn-sm btn-outline-primary" (click)="productSearch()">Look up</button>
              </ng-template>
            </div>
          </div>
        </div>
        </form>
        <hr>
        <div class="row" *ngIf="listProduct"  style="overflow-x:auto;">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead class="thead-light fixed">
              <tr>
                <th class="text-center" scope="col">Product code</th>
                <th class="text-center" scope="col">Product Name</th>
                <th class="text-center" scope="col"></th>
              </tr>
              </thead>
              <tr *ngFor="let product of listProduct.rowRs" (dblclick)="getValueProductCode(product,closeSearchProductCodeModal)">
                <td class="text-center">{{product.CODE}}</td>
                <td class="text-center">{{product.CODE_NM}}</td>
                <td ><button (click)="getValueProductCode(product,closeSearchProductCodeModal)" class="btn btn-sm btn-instagram"><i class="icon-plus"></i></button></td>
              </tr>
            </table>
            <div>
              <nav aria-label="Page navigation example">
                <ul *ngIf="pagerProduct.pages && pagerProduct.pages.length && listProduct" class="pagination pagination-sm justify-content-center">
                  <li [ngClass]="{disabled:pagerProduct.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchProduct(1)" (click)="paginationProduct(0)" class="page-link" aria-label="Previous">
                      First
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerProduct.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchProduct(pagerProduct.currentPage - 1)" (click)="paginationProduct(pagerProduct.currentPage - 2)" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li *ngFor="let page of pagerProduct.pages" [ngClass]="{active:pagerProduct.currentPage == page}" class="page-item">
                    <a class="page-link" (click)="setPageSearchProduct(page)" (click)="paginationProduct(page - 1)">{{page}}</a></li>
                  <li [ngClass]="{disabled:pagerProduct.currentPage == pagerProduct.totalPages}" class="page-item">
                    <a (click)="setPageSearchProduct(pagerProduct.currentPage + 1) " (click)="paginationProduct(pagerProduct.currentPage - 1)" class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerProduct.currentPage == pagerProduct.totalPages}" class="page-item">
                    <a (click)="paginationProduct(pagerProduct.totalPages - 1)" (click)="setPageSearchProduct(pagerProduct.totalPages)" class="page-link" aria-label="Next">
                      Last
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---->


<!-- Button to Open the ModalUpdate -->
<button #openModalUpdate hidden type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalUpdate">
  Open modal
</button>
<!-- Modal Update -->
<div class="modal fade" id="myModalUpdate">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Detailed Contract Information</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formUpdateContract">
          <div *ngIf="contract">
          <div class="row" *ngIf="contract.STATUS != 0 && checkRoleAccount.isRoleAdmin">
            <div class="col-md-12"  style="overflow-x:auto;">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Organization Classification</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.CUST_GB}}</label>
                    </div>
                    <!--                    -->
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Organization Code</th>
                  <th class="tb-value text-center">
                    <div class="btn-group">
                      <label>{{formUpdateContract.value.CUST_CODE}}</label>
                    </div>
                    <!--                    -->
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Organization Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.CUST_NM_ENG}}</label>
                    </div>
                  </th>
                  <!---->
                  <th class=" text-center tb-name">Branch Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.BRANCH_NM}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Product Code</th>
                  <th class="tb-value text-center">
                    <div>
                      <div class="btn-group">
                        <label>{{formUpdateContract.value.PRODUCT_CODE}}</label>
                      </div>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Product Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.CODE_NM}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Valid Start Date</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.VALID_START_DT}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Valid End Date</th>
                  <th class="tb-value text-center">
                    <span>{{formUpdateContract.value.VALID_END_DT}}</span>
                    <div>
                      <input name="formUpdate7"  maxlength="10" formControlName="VALID_END_DT" class="form-control" contenteditable="true" type="date">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Final Operation Date
                  </th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.SYS_DTIM}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Work ID
                  </th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.WORK_ID}}</label>
                    </div>
                  </th>
                </tr>
              </table>
            </div>
            <div class="col-5">
            </div>
            <div class="col-2">
              <div class="form-group ">
                <div class="text-center">
                  <span *ngIf="!formUpdateContract.value.STATUS">Status:<b class="text-warning"> Expire</b></span>
                  <span *ngIf="formUpdateContract.value.STATUS == 1">Status:<b class="text-success"> Active</b></span>
                </div>
                <select formControlName="STATUS"  name="selectStatus" class="custom-select">
                  <option value = 1 class="text-success" >Active</option>
                  <option value = 2 class="text-warning" >Expire</option>
                </select>
              </div>
            </div>
            <div class="col-5">
            </div>
          </div>
          <div class="row" *ngIf="contract.STATUS == 0 && checkRoleAccount.isRoleAdmin">
            <div class="col-md-12"  style="overflow-x:auto;">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Organization Classification</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.CUST_GB}}</label>
                    </div>
                    <!--                    -->
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Organization Code</th>
                  <th class="tb-value text-center">
                    <div class="btn-group">
                      <label>{{formUpdateContract.value.CUST_CODE}}</label>
                    </div>
                    <!--                    -->
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Organization Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.CUST_NM_ENG}}</label>
                    </div>
                  </th>
                  <!---->
                  <th class=" text-center tb-name">Branch Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.BRANCH_NM}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Product Code</th>
                  <th class="tb-value text-center">
                    <div>
                      <div class="btn-group">
                        <label>{{formUpdateContract.value.PRODUCT_CODE}}</label>
                      </div>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Product Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.CODE_NM}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Valid Start Date</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.VALID_START_DT}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Valid End Date</th>
                  <th class="tb-value text-center">
                    <span>{{formUpdateContract.value.VALID_END_DT}}</span>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Final Operation Date
                  </th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.SYS_DTIM}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Work ID
                  </th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.WORK_ID}}</label>
                    </div>
                  </th>
                </tr>
              </table>
            </div>
            <div class="col-5">
            </div>
            <div class="col-2">
              <div class="form-group ">
                <div class="form-group ">
                  <div class="text-center">
                    <span><b>Status: </b></span>
                    <label *ngIf="formUpdateContract.value.STATUS == 0" class="text-danger"> History</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5">
            </div>
          </div>
          <div class="row" *ngIf="checkRoleAccount.isRoleUser">
            <div class="col-md-12"  style="overflow-x:auto;">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Organization Classification</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.CUST_GB}}</label>
                    </div>
                    <!--                    -->
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Organization Code</th>
                  <th class="tb-value text-center">
                    <div class="btn-group">
                      <label>{{formUpdateContract.value.CUST_CODE}}</label>
                    </div>
                    <!--                    -->
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Organization Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.CUST_NM_ENG}}</label>
                    </div>
                  </th>
                  <!---->
                  <th class=" text-center tb-name">Branch Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.BRANCH_NM}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Product Code</th>
                  <th class="tb-value text-center">
                    <div>
                      <div class="btn-group">
                        <label>{{formUpdateContract.value.PRODUCT_CODE}}</label>
                      </div>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Product Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.CODE_NM}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Valid Start Date</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.VALID_START_DT}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Valid End Date</th>
                  <th class="tb-value text-center">
                    <span>{{formUpdateContract.value.VALID_END_DT}}</span>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Final Operation Date
                  </th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.SYS_DTIM}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Work ID
                  </th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateContract.value.WORK_ID}}</label>
                    </div>
                  </th>
                </tr>
              </table>
            </div>
            <div class="col-5">
            </div>
            <div class="col-2">
              <div class="form-group ">
                <div class="form-group ">
                  <div class="text-center">
                    <span><b>Status: </b></span>
                    <label *ngIf="formUpdateContract.value.STATUS == 0" class="text-danger"> History</label>
                    <label *ngIf="formUpdateContract.value.STATUS == 1" class="text-success"> Active</label>
                    <label *ngIf="!formUpdateContract.value.STATUS" class="text-warning"> Expire</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5">
            </div>
          </div>
          </div>
        </form>
      </div>
      <div class="text-center">
        <h5>
          <b class="alert text-dark">{{this.messageValidUpdate}}</b>
        </h5>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer" *ngIf="checkRoleAccount.isRoleAdmin">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="isWaitingUpdate ; else otherUpdate" class="btn btn-outline-primary">
          Saving
          <span class="spinner-border spinner-border-sm"></span>
        </button>
        <ng-template #otherUpdate>
        <button type="button" class="btn btn-outline-primary" (click)="updateContract()">Save</button>
        </ng-template>
      </div>

    </div>
  </div>
</div>
<!---->


<!-- Modal show product code of Update -->
<div class="modal fade" id="productCodeForUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="product">Product Selection</h5>
        <button #closeSearchProductCodeModalUpdate type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSearchProductCode">
          <div class="row">
            <div class="col-md 12">
              * Product Code
              <br/>
              <input formControlName="productCode" type="text" class="form-control-sm">

              <br/>
              <br/>
              * Product Name
              <br/>
              <input formControlName="productNM" type="text" class="form-control-sm">
              <br/>
              <br/>
              <div class="text-center">
                <button *ngIf="isLookingProduct ; else otherPr" class="btn btn-outline-primary btn-sm">
                  <span class="spinner-border spinner-border-sm"></span>
                  Looking..
                </button>
                <ng-template #otherPr>
                  <button class="btn btn-sm btn-outline-primary" (click)="productSearch()">Look up</button>
                </ng-template>
              </div>
            </div>
          </div>
        </form>
        <hr>
        <div class="row" *ngIf="listProduct">
          <div class="col-md-12"  style="overflow-x:auto;">
            <!--            display result here-->
            <table class="table table-bordered">
              <thead class="thead-light">
              <tr>
                <th class="text-center" scope="col">Product code</th>
                <th class="text-center" scope="col">Product Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let product of listProduct.rowRs" (dblclick)="getValueProductCodeForInputUpdate(product,closeSearchProductCodeModalUpdate)">
                <td class="text-center">{{product.CODE}}</td>
                <td class="text-center">{{product.CODE_NM}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---->


<!-- Modal show Organization Name of Update -->
<div class="modal fade" id="OrganizationCodeForUpdate" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true"  style="overflow-x:auto;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Organization Selection</h5>
        <button #closeOrnNameModalUpdate type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md 12">
            <form [formGroup]="formSearchOrgModal">
              * Organization Classification
              <br/>
              <input formControlName="custClassicfication" type="text" class="form-control-sm">

              <br/>
              <br/>

              * Organization English Name
              <br/>
              <input formControlName="custNm" type="text" class="form-control-sm">
              <br/>
              <br/>
              <span class="text-danger">
                             {{mesSearchOrg}}
                           </span>
              <div class="text-center">
                <button *ngIf="isLookingOrg ; else otherOr" class="btn btn-outline-primary btn-sm">
                  <span class="spinner-border spinner-border-sm"></span>
                  Looking..
                </button>
                <ng-template #otherOr>
                  <button class="btn btn-sm btn-outline-primary" (click)="searchOrgByNameAndClass()">Look up</button>
                </ng-template>
              </div>
            </form>
          </div>
        </div>
        <hr>
        <div *ngIf="listOrg" class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead class="thead-light">
              <tr>
                <th class="result text-center" scope="col">Classification</th>
                <th class="text-center" scope="col">Code</th>
                <th class="text-center" scope="col">English Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let cust of listOrg.rowRs" (dblclick)="getValueOrgToInputUpdate(closeOrnNameModalUpdate,cust)">
                <td class="text-center" >{{cust.CUST_GB}}</td>
                <td class="text-center" >{{cust.CUST_CD}}</td>
                <td class="text-center" >{{cust.CUST_NM_ENG}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---->


<!-- Button to Open the Modal Register -->
<button hidden type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalRegister" >
  Open modal
</button>
<!-- Modal Register -->
<div class="modal fade" id="myModalRegister" >
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Register Contract</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formCreateContract">
          <div class="row">
            <div class="col-md-12" style="overflow-x:auto;">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Organization Classification*</th>
                  <th class="tb-value text-center">
                    <div>
                      <input maxlength="2" formControlName="cusGB" class="form-control" contenteditable="true" type="text">
                    </div>
                    <!--                    -->
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Organization Code*</th>
                  <th class="tb-value text-center">
                    <div class="btn-group">
                      <input maxlength="10" formControlName="custCD" type="text" class="form-control">
                      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle"
                              data-toggle="modal" data-target="#OrganizationCodeForRegister">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                    </div>
                    <!--                    -->
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Organization English Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <input disabled formControlName="OrgName" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!---->
                  <th class=" text-center tb-name">Branch Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <input disabled formControlName="branchName" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Product Code*</th>
                  <th class="tb-value text-center">
                    <div>
                      <div class="btn-group">
                        <input maxlength="5" formControlName="gdsCD" type="text" class="form-control">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle"
                                data-toggle="modal" data-target="#productCodeForRegister">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                      </div>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Product Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <input disabled formControlName="productName" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Valid Start Date*</th>
                  <th class="tb-value text-center">
                    <div>
                      <input maxlength="10" formControlName="validStartDt" class="form-control" contenteditable="true" type="date">
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Valid End Date*</th>
                  <th class="tb-value text-center">
                    <div>
                      <input maxlength="10" formControlName="validEndDt" class="form-control" contenteditable="true" type="date">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Final Operation Date*
                  </th>
                  <th class="tb-value text-center">
                    <div>
                      {{this.timeNow}}
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Work ID*
                  </th>
                  <th class="tb-value text-center">
                    <div>
                      {{this.currentUserName}}
                    </div>
                  </th>
                </tr>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="text-center">
        <h5>
          <b class="alert text-dark">{{this.messageValidCreate}}</b>
        </h5>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="isWaitingRegister ; else otherRegister" class="btn btn-outline-primary btn-sm">
          <span class="spinner-border spinner-border-sm"></span>
          Saving...
        </button>
        <ng-template #otherRegister>
        <button type="button" class="btn btn-outline-primary" (click)="checkExistContract(buttonOpenAlertExistContract,closeModalAlertExistContract)">Submit</button>
        </ng-template>
      </div>

    </div>
  </div>
</div>
<!---->


<!-- Modal show product code of Register -->
<div class="modal fade" id="productCodeForRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="product2">Product Selection</h5>
        <button #closeSearchProductCodeModalRegister type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSearchProductCode">
          <div class="row">
            <div class="col-md 12">
              * Product Code
              <br/>
              <input formControlName="productCode" type="text" class="form-control-sm">

              <br/>
              <br/>
              * Product Name
              <br/>
              <input formControlName="productNM" type="text" class="form-control-sm">
              <br/>
              <br/>
              <div class="text-center">
                <button *ngIf="isLookingProduct ; else otherPr" class="btn btn-outline-primary btn-sm">
                  <span class="spinner-border spinner-border-sm"></span>
                  Looking..
                </button>
                <ng-template #otherPr>
                  <button class="btn btn-sm btn-outline-primary" (click)="productSearch()">Look up</button>
                </ng-template>
              </div>
            </div>
          </div>
        </form>
        <hr>
        <div class="row" *ngIf="listProduct">
          <div class="col-md-12" style="overflow-x:auto;">
            <table class="table table-bordered">
              <thead class="thead-light fixed">
              <tr>
                <th class="text-center" scope="col">Product code</th>
                <th class="text-center" scope="col">Product Name</th>
                <th class="text-center" scope="col"></th>
              </tr>
              </thead>
              <tr *ngFor="let product of listProduct.rowRs" (dblclick)="getValueProductCodeForInputRegister(product,closeSearchProductCodeModalRegister)">
                <td class="text-center">{{product.CODE}}</td>
                <td class="text-center">{{product.CODE_NM}}</td>
                <td ><button (click)="getValueProductCodeForInputRegister(product,closeSearchProductCodeModalRegister)" class="btn btn-sm btn-instagram"><i class="icon-plus"></i></button></td>
              </tr>
            </table>
            <div>
              <nav aria-label="Page navigation example">
                <ul *ngIf=" pagerProduct.pages && pagerProduct.pages.length && listProduct" class="pagination pagination-sm justify-content-center">
                  <li [ngClass]="{disabled:pagerProduct.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchProduct(1)" (click)="paginationProduct(0)" class="page-link" aria-label="Previous">
                      First
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerProduct.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchProduct(pagerProduct.currentPage - 1)" (click)="paginationProduct(pagerProduct.currentPage - 2)" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li *ngFor="let page of pagerProduct.pages" [ngClass]="{active:pagerProduct.currentPage == page}" class="page-item">
                    <a class="page-link" (click)="setPageSearchProduct(page)" (click)="paginationProduct(page - 1)">{{page}}</a></li>
                  <li [ngClass]="{disabled:pagerProduct.currentPage == pagerProduct.totalPages}" class="page-item">
                    <a (click)="setPageSearchProduct(pagerProduct.currentPage + 1) " (click)="paginationProduct(pagerProduct.currentPage - 1)" class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerProduct.currentPage == pagerProduct.totalPages}" class="page-item">
                    <a (click)="paginationProduct(pagerProduct.totalPages - 1)" (click)="setPageSearchProduct(pagerProduct.totalPages)" class="page-link" aria-label="Next">
                      Last
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---->

<!-- Modal show Organization Name of Register -->
<div class="modal fade" id="OrganizationCodeForRegister" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Organization Selection</h5>
        <button #closeOrnNameModalRegister type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md 12">
            <form [formGroup]="formSearchOrgModal">
              * Organization Classification
              <br/>
              <input formControlName="custClassicfication" type="text" class="form-control-sm">

              <br/>
              <br/>

              * Organization English Name
              <br/>
              <input formControlName="custNm" type="text" class="form-control-sm">
              <br/>
              <br/>
              <span class="text-danger">
               {{mesSearchOrg}}
             </span>
              <div class="text-center">
                <button *ngIf="isLookingOrg ; else otherOr" class="btn btn-outline-primary btn-sm">
                  <span class="spinner-border spinner-border-sm"></span>
                  Looking..
                </button>
                <ng-template #otherOr>
                  <button class="btn btn-sm btn-outline-primary" (click)="searchOrgByNameAndClass()">Look up</button>
                </ng-template>
              </div>
            </form>
          </div>
        </div>
        <hr>
        <div class="row" *ngIf="listOrg">
          <div class="col-md-12" style="overflow-x:auto;">
            <table class="table table-bordered">
              <thead class="thead-light fixed">
              <tr>
                <th  scope="col">Classification</th>
                <th  scope="col">Code</th>
                <th  scope="col">English Name</th>
                <th  scope="col"></th>
              </tr>
              </thead>
              <tr *ngFor="let cust of listOrg.rowRs" (dblclick)="getValueOrgToInputRegister(closeOrnNameModalRegister,cust)">
                <td class="text-center" >{{cust.CUST_GB}}</td>
                <td class="text-center" >{{cust.CUST_CD}}</td>
                <td class="text-center" >{{cust.CUST_NM_ENG}}</td>
                <td ><button (click)="getValueOrgToInputRegister(closeOrnNameModalRegister,cust)" class="btn btn-sm btn-instagram"><i class="icon-plus"></i></button></td>
              </tr>
            </table>
            <div>
              <nav aria-label="Page navigation example">
                <ul *ngIf="pagerOrg.pages && pagerOrg.pages.length && listOrg" class="pagination pagination-sm justify-content-center">
                  <li [ngClass]="{disabled:pagerOrg.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchCustModal(1)" (click)="paginationCustModal(0)" class="page-link" aria-label="Previous">
                      First
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerOrg.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchCustModal(pagerOrg.currentPage - 1)" (click)="paginationCustModal(pagerOrg.currentPage - 2)" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li *ngFor="let page of pagerOrg.pages" [ngClass]="{active:pagerOrg.currentPage == page}" class="page-item">
                    <a class="page-link" (click)="setPageSearchCustModal(page)" (click)="paginationCustModal(page - 1)">{{page}}</a></li>
                  <li [ngClass]="{disabled:pagerOrg.currentPage == pagerOrg.totalPages}" class="page-item">
                    <a (click)="setPageSearchCustModal(pagerOrg.currentPage + 1) " (click)="paginationCustModal(pagerOrg.currentPage - 1)" class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerOrg.currentPage == pagerOrg.totalPages}" class="page-item">
                    <a (click)="paginationCustModal(pagerOrg.totalPages - 1)" (click)="setPageSearchCustModal(pagerOrg.totalPages)" class="page-link" aria-label="Next">
                      Last
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---->

<!-- Button trigger modal alert exist contract -->
<button hidden #buttonOpenAlertExistContract type="button" class="btn btn-primary" data-toggle="modal" data-target="#alertexistcontract">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="alertexistcontract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-warning" id="CenterTitle">Alert</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5><b>There is contract exist with different start date. Do you want continue?</b></h5>
      </div>
      <div class="modal-footer">
        <button #closeModalAlertExistContract type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="createNewContract(closeModalAlertExistContract)">Submit</button>
      </div>
    </div>
  </div>
</div>
