<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <form [formGroup]="formUpdateChart">
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-2">
            <div class="form-group ">
              * Chart
              <br/>
              <select [formControl]="typeChart" (change)="changeTypeChart()" class="custom-select">
                <option *ngIf="!isWeek" value="line">Line</option>
                <option value="pie" >Pie</option>
                <option value="bar" [selected]="true">Bar</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              * Sort By
              <br/>
              <select [formControl]="sortByDate" (change)="checkTypeDate()" class="custom-select">
                <option value="year">Year</option>
                <option value="month" selected>Month</option>
                <option value="week">Week</option>
                <option value="day">Day</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group" *ngIf="!isChartPie && !isWeek ; else doIt">
              *From Date
              <br/>
              <input class="form-control" formControlName="fromDate" type="date" >
            </div>
            <ng-template #doIt>
              <div class="form-group">
                *Date
                <br/>
                <input class="form-control" formControlName="fromDate" type="date" >
              </div>
            </ng-template>
          </div>
          <div class="col-3">
            <div class="form-group" *ngIf="!isChartPie && !isWeek">
              *To Date
              <br/>
              <input class="form-control" formControlName="toDate" type="date">
            </div>
          </div>
          <div class="col-1">
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-12">
          <div class="text-center" *ngIf="isRefreshing">
            <button class="btn btn-primary btn-sm" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Refreshing...
            </button>
          </div>
          <div class="text-center" *ngIf="!isRefreshing">
            <button class="btn btn-outline-primary btn-sm" (click)="updateChart(modalNotifyChart)">Refresh</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div style="display: block" *ngIf="isChartBar && barChartData[0]">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                [colors]="lineChartColors"
        >
        </canvas>
      </div>
      <div *ngIf="isChartPie && pieChartData[0]">
        <div class="chart">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [plugins]="pieChartPlugins"
                  [colors]="pieChartColors"
                  [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
      <div style="display: block;" *ngIf="isChartLine && lineChartData[0]">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<button #modalNotifyChart hidden type="button" class="btn btn-primary" data-toggle="modal" data-target="#NotifyChart">
</button>

<!-- Modal -->
<div class="modal fade" id="NotifyChart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Notify</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>
          <p class="text-center text-danger">{{notifyChart}}</p>
        </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
