<div id="loginID" class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-2 mx-auto"></div>
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-5" *ngIf="onShowLogin">
              <div class="card-body">
                <form [formGroup]="loginForm" (submit)="login()">
                  <div *ngIf="registerMessage" class="text-right text-success"><h5><b>{{registerMessage}}</b></h5></div>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input [(ngModel)]="userNameLogin" type="text" class="form-control" maxlength="50"
                           formControlName="userID" placeholder="User ID" autocomplete="User ID" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input [(ngModel)]="userPasswordLogin" type="password" class="form-control"
                           formControlName="password" placeholder="Password" maxlength="100" autocomplete="current-password"
                           required>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="message-alert" *ngIf="errorLogin === 0">Please enter the username !</p>
                      <p class="message-alert" *ngIf="errorLogin === 1">Please enter the password !</p>
                      <p class="message-alert" *ngIf="errorLogin === 2">Please enter the username and password !</p>
                      <p class="message-alert" *ngIf="errorLogin === 3">Server error !</p>
                      <p class="message-alert" *ngIf="errorLogin === 4">Wrong password or username !</p>
                      <p class="message-alert" *ngIf="messageLogin">{{messageLogin}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      <button *ngIf="!isLogin" type="submit" class="btn btn-primary px-4">Login</button>
                      <button *ngIf="isLogin" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Loading...
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card p-5" *ngIf="onShowChangePassword">
              <div class="text-left">
                <button type="button" class="btn btn-outline-primary border-0 " (click)="showLogin(closeModalNotifyChangePassword)"
                        ><i class="fa fa-arrow-left"></i>
                </button>
              </div>
              <form [formGroup]="changePasswordForm" (submit)="changePasswordFirstTimeLogin(openNotifyChangPassword)">
                <div class="text-center">
                  <h1>Change Password</h1>
                  <p class="text-muted">Change your password for first time login</p>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                      <span>Password*</span>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-lock"></i></span>
                        </div>
                      <input [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched  }"  type="password" class="form-control" maxlength="100"
                             formControlName="password" >
                        <div *ngIf="f.password.errors && f.password.touched" class=" col-12 alert alert-danger">
                          <div *ngIf="f.password.errors.required">Password is required!</div>
                          <div *ngIf="f.password.errors">Password must have 5 to 100 character!</div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                      <span>Confirm Password*</span>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-lock"></i></span>
                        </div>
                      <input  type="password" class="form-control"
                             formControlName="passwordconfirm" maxlength="100"
                           [ngClass]="{ 'is-invalid': f.passwordconfirm.errors && f.passwordconfirm.touched }">
                        <div *ngIf="f.passwordconfirm.errors && f.passwordconfirm.touched" class=" col-12 alert alert-danger">
                          <div *ngIf="f.passwordconfirm.errors.required">Confirm Password is required!</div>
                          <div *ngIf="f.passwordconfirm.errors">Confirm Password must same Password!</div>
                        </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-12">
                    <p class="message-alert" *ngIf="mesValidate">{{mesValidate}}</p>
                  </div>
                </div>
                <div class="text-center text-danger" *ngIf="registerMessageError">{{registerMessageError}}</div>
                <div class="row"  *ngIf="!this.changePasswordForm.invalid">
                  <div class="col-12">
                    <div class="text-center">
                      <button *ngIf="!isChangePassword" type="submit" class="btn btn-primary  text-center">
                        Submit
                      </button>
                      <div *ngIf="isChangePassword" class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-2 mx-auto"></div>
      </div>
    </div>
  </main>
</div>


<!-- Small modal -->
<button hidden #openNotifyChangPassword data-keyboard="false" data-backdrop="static" type="button" class="btn btn-primary" data-toggle="modal"
        data-target=".modalNotifyChangePass">Small modal
</button>

<div class="modal fade modalNotifyChangePass" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center"><h5 class="text-center text-success">Change password successfully. Please login!</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" (click)="showLogin(closeModalNotifyChangePassword)">Back to login</button>
        <button #closeModalNotifyChangePassword hidden type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    </div>
  </div>
</div>
