<div class="container-fluid">
  <!--  -->
  <div class="row">
    <div class="col-md-12">
      <h3>
        <span><b>CIC Report Inquiry Management</b></span>
      </h3>
      <div class="card acik-renk-form">
        <div class="card-body">
          <form [formGroup]="formSearchCICRp">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group ">
                  <label>* Organization
                    Classification</label>
                  <br/>
                  <input formControlName="orgClass" disabled type="text" placeholder="10:NICE" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label>* Product Code</label>
                  <br/>
                  <div class="btn-group">
                    <input formControlName="productCode" type="text" class="form-control">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle"
                            data-toggle="modal" data-target="#productCode">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label>* Inquiry Date</label>
                <br/>
                <div class="form-group ">
                  <label>From</label>
                  <input formControlName="inqDateFrom" type="date">
                  To
                  <input  formControlName="inqDateTo" type="date">
                  <label class="text-danger">{{messQueryDate}}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group ">
                  <label> * Organization Code</label>
                  <br/>
                  <input  formControlName="orgCode" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label>*
                    Organization English Name</label>
                  <br/>
                  <div class="btn-group">
                    <input formControlName="orgName"  disabled type="text" class="form-control">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle"
                            data-toggle="modal" data-target="#exampleModalCenter">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label> * Tax Code</label>
                  <br/>
                  <input formControlName="taxCode" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label> * Phone Number</label>
                  <br/>
                  <input formControlName="phoneNumber" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group ">
                  <label> * National ID</label>
                  <br/>
                  <input formControlName="nationalID" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label> * Old National ID</label>
                  <br/>
                  <input formControlName="oldNationalID" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label> * Passport NO</label>
                  <br/>
                  <input formControlName="passportNO" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label> * Scraping status</label>
                  <br/>
                  <div class="form-group overflow-auto">
                    <select formControlName="scrapStatus" id="ilceler" class="custom-select" >
                      <option value="00">00: SMS sent and did not request report inquiry</option>
                      <option value="01">01: Report inquiry request successful</option>
                      <option value="02">02: CIC site log in successful</option>
                      <option value="03">03: CIC ID inquiry successful</option>
                      <option value="04">04: CIC report inquiry successful</option>
                      <option value="10">10: Completed</option>
                      <option value="20">20: Log in error</option>
                      <option value="21">21: CIC ID inquiry error</option>
                      <option value="22">22: CIC report inquiry error</option>
                      <option value="23">23: CIC report result inquiry error</option>
                      <option value="24">24: Scraping target report does not exist</option>
                      <option value="29">29: Other error</option>
                      <option value=""></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-12">
                <div class="text-center">
                  <button *ngIf="isLooking ; else other" class="btn btn-outline-primary">
                    Looking
                    <span class="spinner-border spinner-border-sm"></span>
                  </button>
                  <ng-template #other>
                    <button class="btn btn-outline-primary" (click)="searchHistoryCICRp() ">Look up</button>
                  </ng-template>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!--      -->
      </div>
    </div>
  </div>
  <!--    -->
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3 *ngIf="mesQuery">
        <span><b>CIC Report View History</b></span>
      </h3>
    </div>
    <div class="col-md-6">
      <div class="text-right" style="padding-right: 15px">
        <button *ngIf="isWaitingCIC ; else CIC" class="btn btn-info">
          Looking
          <span class="spinner-border spinner-border-sm"></span>
        </button>
        <ng-template #CIC>
          <button *ngIf="isOpenViewButtonRP" class="btn btn-info" (click)="handledViewRp(modalHandledCIC)">Scrap Report Result</button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!--     result query status here-->
      <div>
        <div *ngIf="mesQuery" class="card-header">
          <span class="text text-sm-left">* Inquiry Result: {{mesQuery}}</span>
          <br/>
          <span class="text text-sm-left">* Inquiry Date: {{timeQuery}}</span>
        </div>
        <!--result table-->
        <div style="overflow-x:auto;" *ngIf="listCICRp">
        <table class="table table-bordered text-center" style="background: white">
          <thead class="bg-primary">
          <tr>
            <th></th>
            <th scope="col">NICE session number</th>
            <th scope="col">Organization code</th>
            <th scope="col">Organization Name</th>
            <th scope="col">Product Number</th>
            <th scope="col">National ID</th>
            <th scope="col">Old National ID</th>
            <th scope="col">Tax Code</th>
            <th scope="col">Passport NO</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Inquiry Date</th>
            <th scope="col">Status code</th>
            <th scope="col">Response code</th>
            <th scope="col">Final operation date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let CICRp of listCICRp.rowRs" (dblclick)="openDetailForm(openModalUpdate, CICRp)">
            <td><input type="radio" name="cicRp"   (click)="viewButtonRp(CICRp)" *ngIf="CICRp.SCRP_STAT_CD != '10'"></td>
            <th scope="row">{{CICRp.NICE_SSIN_ID}}</th>
            <td>{{CICRp.CUST_CD}}</td>
            <td>{{CICRp.CUST_NM}}</td>
            <td>{{CICRp.GDS_CD}}</td>
            <td>{{CICRp.NATL_ID}}</td>
            <td>{{CICRp.OLD_NATL_ID}}</td>
            <td>{{CICRp.TAX_ID}}</td>
            <td>{{CICRp.PSPT_NO}}</td>
            <td>{{CICRp.TEL_NO_MOBILE}}</td>
            <td>{{CICRp.INQ_DTIM}}</td>
            <td>{{CICRp.SCRP_STAT_CD}}</td>
            <td>{{CICRp.RSP_CD}}</td>
            <td>{{CICRp.SYS_DTIM}}</td>
          </tr>
          </tbody>
        </table>
          <div>
            <nav aria-label="Page navigation example">
              <ul *ngIf="pagerCIC.pages && pagerCIC.pages.length && listCICRp" class="pagination justify-content-center">
                <li [ngClass]="{disabled:pagerCIC.currentPage == 1}" class="page-item">
                  <a (click)="setPageSearchCIC(1)" (click)="paginationCICRp(0)" class="page-link" aria-label="Previous">
                    First
                  </a>
                </li>
                <li [ngClass]="{disabled:pagerCIC.currentPage == 1}" class="page-item">
                  <a (click)="setPageSearchCIC(pagerCIC.currentPage - 1)" (click)="paginationCICRp(pagerCIC.currentPage - 2)" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li *ngFor="let page of pagerCIC.pages" [ngClass]="{active:pagerCIC.currentPage == page}" class="page-item">
                  <a class="page-link" (click)="setPageSearchCIC(page)" (click)="paginationCICRp(page - 1)">{{page}}</a></li>
                <li [ngClass]="{disabled:pagerCIC.currentPage == pagerCIC.totalPages}" class="page-item">
                  <a (click)="setPageSearchCIC(pagerCIC.currentPage + 1) " (click)="paginationCICRp(pagerCIC.currentPage - 1)" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li [ngClass]="{disabled:pagerCIC.currentPage == pagerCIC.totalPages}" class="page-item">
                  <a (click)="paginationCICRp(pagerCIC.totalPages - 1)" (click)="setPageSearchCIC(pagerCIC.totalPages)" class="page-link" aria-label="Next">
                    Last
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--      -->
      </div>
    </div>
  </div>
</div>


<!-- Modal show product code -->
<div class="modal fade" id="productCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Product Selection</h5>
        <button #closeSearchProductCodeModal type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSearchProductCode">
          <div class="row">
            <div class="col-md 12">
              * Product Code
              <br/>
              <input formControlName="productCode" type="text" class="form-control-sm">

              <br/>
              <br/>
              * Product Name
              <br/>
              <input formControlName="productNM" type="text" class="form-control-sm">
              <br/>
              <br/>
              <div class="text-center">
                <button *ngIf="isLookingPro ; else otherPro" class="btn btn-sm btn-outline-primary">
                  Looking
                  <span class="spinner-border spinner-border-sm"></span>
                </button>
                <ng-template #otherPro>
                  <button class="btn btn-sm btn-outline-primary" (click)="productSearch()">Look up</button>
                </ng-template>
              </div>
            </div>
          </div>
        </form>
        <hr>
        <div class="row" *ngIf="listProduct">
          <div class="col-md-12" style="overflow-x:auto;">
            <table class="table table-bordered">
              <thead class="thead-light fixed">
              <tr>
                <th class="text-center" scope="col">Product code</th>
                <th class="text-center" scope="col">Product Name</th>
                <th class="text-center" scope="col"></th>
              </tr>
              </thead>
              <tr *ngFor="let product of listProduct.rowRs" (dblclick)="getValueProductCode(product,closeSearchProductCodeModal)">
                <td class="text-center">{{product.CODE}}</td>
                <td class="text-center">{{product.CODE_NM}}</td>
                <td class="text-center"><button (click)="getValueProductCode(product,closeSearchProductCodeModal)" class="btn btn-sm btn-instagram"><i class="icon-plus"></i></button></td>
              </tr>
            </table>
            <div>
              <nav aria-label="Page navigation example">
                <ul *ngIf=" pagerProduct.pages && pagerProduct.pages.length && listProduct" class="pagination pagination-sm justify-content-center">
                  <li [ngClass]="{disabled:pagerProduct.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchProduct(1)" (click)="paginationProduct(0)" class="page-link" aria-label="Previous">
                      First
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerProduct.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchProduct(pagerProduct.currentPage - 1)" (click)="paginationProduct(pagerProduct.currentPage - 2)" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li *ngFor="let page of pagerProduct.pages" [ngClass]="{active:pagerProduct.currentPage == page}" class="page-item">
                    <a class="page-link" (click)="setPageSearchProduct(page)" (click)="paginationProduct(page - 1)">{{page}}</a></li>
                  <li [ngClass]="{disabled:pagerProduct.currentPage == pagerProduct.totalPages}" class="page-item">
                    <a (click)="setPageSearchProduct(pagerProduct.currentPage + 1) " (click)="paginationProduct(pagerProduct.currentPage - 1)" class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerProduct.currentPage == pagerProduct.totalPages}" class="page-item">
                    <a (click)="paginationProduct(pagerProduct.totalPages - 1)" (click)="setPageSearchProduct(pagerProduct.totalPages)" class="page-link" aria-label="Next">
                      Last
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---->


<!-- Modal show Organization Name -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Organization Selection</h5>
        <button #closeOrnName type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md 12">
            <form [formGroup]="formSearchCusModal">
              * Organization Classification
              <br/>
              <input formControlName="custClassicfication" type="text" class="form-control-sm">

              <br/>
              <br/>

              * Organization English Name
              <br/>
              <input formControlName="custNm" type="text" class="form-control-sm">
              <br/>
              <br/>
              <div class="text-center">
                <button *ngIf="isLookingCus ; else otherCus" class="btn btn-sm btn-outline-primary">
                  Looking
                  <span class="spinner-border spinner-border-sm"></span>
                </button>
                <ng-template #otherCus>
                  <button class="btn btn-sm btn-outline-primary" (click)="searchOrgByNameAndClass()">Look up </button>
                </ng-template>
              </div>
            </form>
          </div>
        </div>
        <hr>
        <div class="row" *ngIf="listCustModal">
          <div class="col-md-12" style="overflow-x:auto;">
            <table class="table table-bordered">
              <thead class="thead-light fixed">
              <tr>
                <th  scope="col">Classification</th>
                <th  scope="col">Code</th>
                <th  scope="col">English Name</th>
                <th  scope="col"></th>
              </tr>
              </thead>
              <tr *ngFor="let cust of listCustModal.rowRs" (dblclick)="getDataToInputSearch(closeOrnName,cust)">
                <td class="text-center" >{{cust.CUST_GB}}</td>
                <td class="text-center" >{{cust.CUST_CD}}</td>
                <td class="text-center" >{{cust.CUST_NM_ENG}}</td>
                <td class="text-center"><button (click)="getDataToInputSearch(closeOrnName,cust)" class="btn btn-sm btn-instagram"><i class="icon-plus"></i></button></td>
              </tr>
            </table>
            <div>
              <nav aria-label="Page navigation example">
                <ul *ngIf="pagerOrg.pages && pagerOrg.pages.length && listCustModal" class="pagination pagination-sm justify-content-center">
                  <li [ngClass]="{disabled:pagerOrg.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchCustModal(1)" (click)="paginationCustModal(0)" class="page-link" aria-label="Previous">
                      First
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerOrg.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchCustModal(pagerOrg.currentPage - 1)" (click)="paginationCustModal(pagerOrg.currentPage - 2)" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li *ngFor="let page of pagerOrg.pages" [ngClass]="{active:pagerOrg.currentPage == page}" class="page-item">
                    <a class="page-link" (click)="setPageSearchCustModal(page)" (click)="paginationCustModal(page - 1)">{{page}}</a></li>
                  <li [ngClass]="{disabled:pagerOrg.currentPage == pagerOrg.totalPages}" class="page-item">
                    <a (click)="setPageSearchCustModal(pagerOrg.currentPage + 1) " (click)="paginationCustModal(pagerOrg.currentPage - 1)" class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerOrg.currentPage == pagerOrg.totalPages}" class="page-item">
                    <a (click)="paginationCustModal(pagerOrg.totalPages - 1)" (click)="setPageSearchCustModal(pagerOrg.totalPages)" class="page-link" aria-label="Next">
                      Last
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button to Open the ModalUpdate -->
<button #openModalUpdate hidden type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalUpdate">
  Open modal
</button>
<!-- Modal Update -->
<div class="modal fade" id="myModalUpdate">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          CIC
          Report
          View
          Detailed
          Information
        </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered" *ngIf="CICHistory">
                <!--                -->
                <tr>
                  <th class="text-center tb-name">NICE session number</th>
                  <th class="tb-value text-center">
                    <div>
                        <input disabled [(ngModel)]="CICHistory.NICE_SSIN_ID" name="NICE_SSIN_ID" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Organization session number</th>
                  <th class="tb-value text-center">
                    <div>
                        <input disabled [(ngModel)]="CICHistory.CUST_SSID_ID"  name="CUST_SSID_ID"  class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Organization code</th>
                  <th class="tb-value text-center">
                    <div>
                        <input  disabled [(ngModel)]="CICHistory.CUST_CD" name="CUST_CD" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!---->
                  <th class=" text-center tb-name">Organization name</th>
                  <th class="tb-value text-center">
                    <div>
                        <input  disabled [(ngModel)]="CICHistory.CUST_NM" name="CUST_NM"  class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Product code</th>
                  <th class="tb-value text-center">
                    <div>
                        <input  disabled [(ngModel)]="CICHistory.GDS_CD" name="GDS_CD"  class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Customer ID</th>
                  <th class="tb-value text-center">
                    <div>
                        <input  disabled [(ngModel)]="CICHistory.CUST_ID" name="CUST_ID"  class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Tax payment code</th>
                  <th class="tb-value text-center">
                    <div>
                        <input  disabled [(ngModel)]="CICHistory.TAX_ID" name="TAX_ID"  class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Other ID</th>
                  <th class="tb-value text-center">
                    <div>
                        <input  disabled [(ngModel)]="CICHistory.OTR_ID" name="OTR_ID" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Final operation
                    date
                  </th>
                  <th class="tb-value text-center">
                    <div>
                        <input  disabled [(ngModel)]="CICHistory.SYS_DTIM" name="SYS_DTIM"  class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    User ID
                  </th>
                  <th class="tb-value text-center">
                    <div>
                        <input  disabled [(ngModel)]="CICHistory.LOGIN_ID"  name="LOGIN_ID" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">CIC number</th>
                  <th class="tb-value text-center">
                    <div>
                        <input  disabled [(ngModel)]="CICHistory.CIC_ID" name="CIC_ID"  class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Inquiry date</th>
                  <th class="tb-value text-center">
                    <div>
                        <input  disabled [(ngModel)]="CICHistory.INQ_DTIM"  name="INQ_DTIM" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Consent to
                    Providing
                    Information
                  </th>
                  <th class="tb-value text-center">
                    <div>
                        <input   disabled [(ngModel)]="CICHistory.AGR_FG" name="AGR_FG"  class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Status code</th>
                  <th class="tb-value text-center">
                    <div>
                        <input   disabled [(ngModel)]="CICHistory.SCRP_STAT_CD" name="SCRP_STAT_CD"   class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Response code
                  </th>
                  <th class="tb-value text-center">
                    <div>
                        <input   disabled [(ngModel)]="CICHistory.RSP_CD" name="RSP_CD"  class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Final operation date</th>
                  <th class="tb-value text-center">
                    <div>
                        <input   disabled [(ngModel)]="CICHistory.SYS_DTIM"  name="SYS_DTIM"  class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal handled CIC-->
<button hidden #modalHandledCIC type="button" data-keyboard="false" data-backdrop="static" class="btn btn-primary" data-toggle="modal" data-target="#modalHandledCIC">
</button>

<!-- Modal -->
<div class="modal fade" id="modalHandledCIC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalCenterTitl23e">Scrap Report Result</h4>
        <button (click)="stopProcessScrapRP()" type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div *ngIf="handledResult ; else loading">
          <h5 class="text-success"  *ngIf="handledResult == 'Successfully'">{{handledResult}}</h5>
          <h5 class="text-warning"  *ngIf="handledResult != 'Successfully'">{{handledResult}}</h5>
          </div>
        </div>
        <ng-template #loading>
          <h5 class="text-primary">In progress.Please wait!</h5>
          <span class="spinner-border spinner-border-sm"></span>
        </ng-template>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
