th.tb-name {
  width: 15%;
  background: lightcyan;
}

th.tb-value {
  width: 33%;
  background: whitesmoke;
}

th.tb-address {
  width: 90%;
  background: whitesmoke;
}


.toggle {
  position: relative;
  width: 85px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.toggle-checkbox {
  display: none;
}
.toggle-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FFF;
  border-radius: 30px;
}
.toggle-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.toggle-inner:before,
.toggle-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 12px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.toggle-inner:before {
  content: "Enable";
  padding-left: 14px;
  background-color: #007BFF;
}
.toggle-inner:after {
  content: "Disable";
  padding-right: 14px;
  background-color: #999999; color: #333333;
  text-align: right;
}
/*Bolita*/
.toggle-switch {
  display: block;
  width: 18px;
  margin: 4px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 60px;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  transition: all 0.3s ease-in 0s;
}
.toggle-checkbox:checked + .toggle-label .toggle-inner {
  margin-left: 0;
}
.toggle-checkbox:checked + .toggle-label .toggle-switch {
  right: 0px;
}
