<div class="container-fluid" >
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
<!--      <div class="card acik-renk-form">-->
<!--        &lt;!&ndash;      Form management Code&ndash;&gt;-->
<!--        <form [formGroup]="formSearchCaptcha">-->
<!--          <div class="card-body">-->
<!--            <div class="row">-->
<!--              <div class="col-md-3">-->
<!--                <div class="form-group ">-->
<!--                  <label>* User ID</label>-->
<!--                  <br/>-->
<!--                  <label>-->
<!--                    <input formControlName="userID" type="text" class="form-control">-->
<!--                  </label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-3">-->
<!--                <div class="form-group ">-->
<!--                  <label> * Username</label>-->
<!--                  <br/>-->
<!--                  <input formControlName="userName" type="text" class="form-control">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-3">-->
<!--                <div class="form-group ">-->
<!--                  <label> * Information-->
<!--                    classification</label>-->
<!--                  <br/>-->
<!--                  <div class="form-group ">-->
<!--                    <select id="ilceler" class="custom-select" >-->
<!--                      <option selected>All</option>-->
<!--                      <option>Current</option>-->
<!--                      <option>Future</option>-->
<!--                    </select>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-3">-->
<!--                <div class="text-center">-->
<!--                  <button *ngIf="isLooking ; else other" class="btn btn-outline-primary">-->
<!--                    Looking-->
<!--                    <span class="spinner-border spinner-border-sm"></span>-->
<!--                  </button>-->
<!--                  <ng-template #other>-->
<!--                    <button class="btn btn-outline-primary" (click)="searchCaptcha()">Look up</button>-->
<!--                  </ng-template>-->
<!--                  <button type="button" (click)="resetMessValidCreate()" class="btn btn-outline-success" data-toggle="modal" data-target="#myModalRegister">-->
<!--                    Register-->
<!--                  </button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--        &lt;!&ndash;      &ndash;&gt;-->
<!--      </div>-->
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="form-group row " data-key="disabled">
    <label class="col-6 control-label text-right "><b>Manual Captcha: </b></label>
    <div class="col-6 input text-left">
      <div class="toggle">
                  <input name="checked"  *ngIf="checkStatus" type="checkbox" value="bbb" [checked]="{checked: true}" data-toggle="modal" data-target="#disableTrigger" class="toggle-checkbox" id="checked">
                  <input name="notChecked"  *ngIf="!checkStatus"  type="checkbox" value="aaa"  data-toggle="modal" data-target="#enableTrigger" class="toggle-checkbox" id="notChecked">
                  <label  *ngIf="checkStatus" class="toggle-label" for="checked">
                    <span class="toggle-inner"></span>
                    <span class="toggle-switch"></span>
                  </label>
                  <label *ngIf="!checkStatus" class="toggle-label" for="notChecked">
                    <span class="toggle-inner"></span>
                    <span class="toggle-switch"></span>
                  </label>
      </div>
    </div>
  </div>
<hr>
  <h3 *ngIf="mesQuery" >
    <span><b>CAPTCHA Administrator Information</b></span>
  </h3>
  <div class="row">
    <div class="col-md-12">
      <!--     result query status here-->
      <div>
        <div *ngIf="mesQuery" class="card-header">
          <span class="text text-sm-left">* Inquiry Result: {{mesQuery}}</span>
          <span class="alert text-sm-right">* Inquiry Date: {{timeQuery}}</span>
        </div>
        <!--result table-->
        <div style="overflow-x:auto;" *ngIf="listCaptcha">
        <table class="table table-bordered text-center" style="background: white">
          <thead class="bg-primary">
          <tr>
            <th scope="col">User ID</th>
            <th scope="col">Username</th>
            <th scope="col">Phone number</th>
            <th scope="col">Email</th>
            <th scope="col">Valid Start Date</th>
            <th scope="col">Valid End Date</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let captcha of listCaptcha.rowRs" (dblclick)="openDetailForm(openModalUpdate, captcha)">
            <th scope="row">{{captcha.CAPTCHA_USER_ID}}</th>
            <td>{{captcha.CAPTCHA_USER_NM}}</td>
            <td>{{captcha.TEL_NO_MOBILE}}</td>
            <td>{{captcha.EMAIL}}</td>
            <td>{{captcha.VALID_START_DT}}</td>
            <td>{{captcha.VALID_END_DT}}</td>
            <td><button class="btn btn-sm btn-instagram" (click)="openDetailForm(openModalUpdate, captcha)">Detail</button></td>
          </tr>
          </tbody>
        </table>
          <div>
            <nav aria-label="Page navigation example">
              <ul *ngIf="pagerCaptcha.pages && pagerCaptcha.pages.length && listCaptcha" class="pagination justify-content-center">
                <li [ngClass]="{disabled:pagerCaptcha.currentPage == 1}" class="page-item">
                  <a (click)="setPageSearchCaptchaInfo(1)" (click)="paginationCaptcha(0)" class="page-link" aria-label="Previous">
                    First
                  </a>
                </li>
                <li [ngClass]="{disabled:pagerCaptcha.currentPage == 1}" class="page-item">
                  <a (click)="setPageSearchCaptchaInfo(pagerCaptcha.currentPage - 1)" (click)="paginationCaptcha(pagerCaptcha.currentPage - 2)" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li *ngFor="let page of pagerCaptcha.pages" [ngClass]="{active:pagerCaptcha.currentPage == page}" class="page-item">
                  <a class="page-link" (click)="setPageSearchCaptchaInfo(page)" (click)="paginationCaptcha(page - 1)">{{page}}</a></li>
                <li [ngClass]="{disabled:pagerCaptcha.currentPage == pagerCaptcha.totalPages}" class="page-item">
                  <a (click)="setPageSearchCaptchaInfo(pagerCaptcha.currentPage + 1) " (click)="paginationCaptcha(pagerCaptcha.currentPage - 1)" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li [ngClass]="{disabled:pagerCaptcha.currentPage == pagerCaptcha.totalPages}" class="page-item">
                  <a (click)="paginationCaptcha(pagerCaptcha.totalPages - 1)" (click)="setPageSearchCaptchaInfo(pagerCaptcha.totalPages)" class="page-link" aria-label="Next">
                    Last
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--      -->
      </div>
    </div>
  </div>
</div>



<!-- Button to Open the ModalUpdate -->
<button #openModalUpdate hidden type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalUpdate">
  Open modal
</button>
<!-- Modal Update -->
<div class="modal fade" id="myModalUpdate">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">CAPTCHA Detailed Administrator Information</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formUpdateCaptcha">
          <div class="row" *ngIf="ICaptcha">
            <div class="col-md-12" style="overflow-x:auto;">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <th class="text-center tb-name">User ID</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCaptcha.value.CAPTCHA_USER_ID}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Username</th>
                  <th class="tb-value text-center">
                    <div>
                      <input maxlength="50" formControlName="CAPTCHA_USER_NM"  class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Phone number</th>
                  <th class="tb-value text-center">
                    <div>
                      <input maxlength="200" formControlName="TEL_NO_MOBILE" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Email</th>
                  <th class="tb-value text-center">
                    <div>
                      <input maxlength="200" formControlName="EMAIL" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Valid start date
                  </th>
                  <th class="tb-value text-center">
                    <span>{{formUpdateCaptcha.value.VALID_START_DT}}</span>
                    <div>
                      <input formControlName="VALID_START_DT" class="form-control" contenteditable="true" type="date">
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Valid end date
                  </th>
                  <th class="tb-value text-center">
                    <span>{{formUpdateCaptcha.value.VALID_END_DT}}</span>
                    <div>
                      <input formControlName="VALID_END_DT" class="form-control" contenteditable="true" type="date">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Final operation date</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCaptcha.value.SYS_DTIM}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Work ID</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCaptcha.value.WORK_ID}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
              </table>

              <table class="table table-bordered">
                <tr>
                  <th class=" text-center tb-name">Address</th>
                  <th class="text-center tb-address">
                    <div>
                      <input maxlength="1000" formControlName="ADDR" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="text-center">
        <h5>
          <b class="alert text-dark">{{this.messageValidUpdate}}</b>
        </h5>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="isWaitingUpdate ; else update" class="btn btn-outline-primary">
          Saving
          <span class="spinner-border spinner-border-sm"></span>
        </button>
        <ng-template #update>
          <button  type="button" class="btn btn-outline-primary " (click)="updateCaptcha() ">Save</button>
        </ng-template>
      </div>

    </div>
  </div>
</div>
<!---->

<!-- Button to Open the Register -->
<button hidden type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalUpdate">
  Open modal
</button>
<!-- Modal Register -->
<div class="modal fade" id="myModalRegister">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">CAPTCHA Register</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formCreateCaptcha">
          <div class="row">
            <div class="col-md-12" style="overflow-x:auto;">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <th class="text-center tb-name">User ID</th>
                  <th class="tb-value text-center">
                    <div>
                        <input maxlength="20" formControlName="userID" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Username</th>
                  <th class="tb-value text-center">
                    <div>
                        <input maxlength="50" formControlName="userName"  class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Phone number</th>
                  <th class="tb-value text-center">
                    <div>
                        <input maxlength="200" formControlName="phone" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Email</th>
                  <th class="tb-value text-center">
                    <div>
                        <input maxlength="200" formControlName="email" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Valid start date
                  </th>
                  <th class="tb-value text-center">
                    <div>
                        <input formControlName="validStartDT" class="form-control" contenteditable="true" type="date">
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Valid end date
                  </th>
                  <th class="tb-value text-center">
                    <div>
                        <input formControlName="validEndDT" class="form-control" contenteditable="true" type="date">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Final operation date</th>
                  <th class="tb-value text-center">
                    <div>
                       {{this.timeNow}}
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Work ID</th>
                  <th class="tb-value text-center">
                    <div>
                        {{this.currentUserName}}
                    </div>
                  </th>
                </tr>
                <!--                -->
              </table>

              <table class="table table-bordered">
                <tr>
                  <th class=" text-center tb-name">Address</th>
                  <th class="text-center tb-address">
                    <div>
                        <input maxlength="1000" formControlName="address" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="text-center">
        <h5>
          <b class="alert text-dark">{{this.messageValidCreate}}</b>
        </h5>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="isWaitingRegister ; else register" class="btn btn-outline-primary">
          Saving
          <span class="spinner-border spinner-border-sm"></span>
        </button>
        <ng-template #register>
          <button  type="button" class="btn btn-outline-primary " (click)="registerCaptcha()" >Save</button>
        </ng-template>
      </div>

    </div>
  </div>
</div>
<!---->

<button type="button" hidden data-keyboard="false" class="btn btn-primary" data-toggle="modal" data-target="#disableTrigger">
  Launch demo modal
</button>

<!-- Modal disableTrigger -->
<div class="modal fade" id="disableTrigger" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div  class="modal-dialog" role="document">
    <div   class="modal-content border-0">
      <div class="modal-body">
        <div class=" alert alert-danger text-center" role="alert">
          <h3><b>This will change process service. Are you sure ?</b></h3>
        </div>
        <div class="text-sm-right">
          <button #closeModalDisableeTrigger type="button" hidden class="btn btn-sm btn-secondary" data-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-sm btn-outline-dark" (click)="reDisableTrigger()" data-dismiss="modal">Close</button>&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-outline-success" (click)="triggerDisable(closeModalDisableeTrigger)">Accept</button>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Modal enableTrigger -->
<div class="modal fade" data-backdrop="static" id="enableTrigger" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div  class="modal-dialog" role="document">
    <div   class="modal-content border-0">
      <div class="modal-body ">
        <div class="alert alert-danger text-center" role="alert">
          <h3><b>This will change process service. Are you sure ?</b></h3>
        </div>
        <div class="text-sm-right">
          <button #closeModalEnableTrigger type="button" hidden class="btn btn-sm btn-secondary" data-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-sm btn-outline-dark" (click)="reEnableTrigger()" data-dismiss="modal" >Close</button>&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-outline-success" (click)="triggerEnable(closeModalEnableTrigger)">Accept</button>
        </div>
      </div>
    </div>
  </div>
</div>
