<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <form [formGroup]="formDate">
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col-3">
          <div class="form-group">
            *From Month
            <br/>
            <input type="date" class="form-control" formControlName="fromDate">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            *To Month
            <br/>
            <input type="date" class="form-control" formControlName="toDate">
          </div>
        </div>
        <div class="col-3">
        </div>
      </div>
      </form>
      <div class="row">
        <div class="col-12">
          <div class="text-center" *ngIf="isRefreshing">
            <button class="btn btn-primary btn-sm" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Refreshing...
            </button>
          </div>
          <div class="text-center" *ngIf="!isRefreshing">
            <button class="btn btn-outline-primary btn-sm" (click)="doCountTransaction()">Look up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12" *ngIf="status">
      <label>Inquiry Status: {{status}}</label>
      <br/>
      <label>Inquiry Time: {{dateInquiry}}</label>
    </div>
  </div>
  <div class="row" *ngIf="resultCount[0]">
    <div class="col-12">
      <table class="table table-bordered text-center" style="background: white">
        <thead class="bg-primary">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Total</th>
          <th scope="col">Success Count</th>
          <th scope="col">Failed Count</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of resultCount">
          <td>{{[transaction.DATE.slice(0, 4), '-', transaction.DATE.slice(4, 6)].join('')}}</td>
          <td>{{transaction.TOTAL}}</td>
          <td>{{transaction.COMPLETED}}</td>
          <td>{{transaction.FAILED}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
