<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo_nice.svg', width: 45, height: 45, alt: 'Info-Box Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo_nice.svg', width: 30, height: 30, alt: 'Info-Box Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"></a>
    </li>
    <li class="nav-item d-md-down-none">
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"></a>
    </li>
    <li class="breadcrumb-menu d-md-down-none">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <span *ngIf="countNotify != 0"
          class="badge badge-pill badge-danger">{{countNotify}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-info">{{currentUserName}}</span>&nbsp;&nbsp;
        <button class="btn btn-outline-danger btn-sm " data-toggle="modal" data-target=".confirmLogout"><i
            class="icon-logout ">&nbsp;
          &nbsp;Logout</i></button>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body" style="overflow-x:auto;">
  <div class="sidebar" style="background: white">
    <app-sidebar style="background: white">
      <ul class="list-unstyled menu-elements">
        <li class="active text-center " style="padding-bottom: 2px">
          <h4><a class="scroll-link" href="#"><i class="fa fa-home"></i></a></h4>
        </li>
        <li class="d-flex flex-column bd-highligh " *ngIf="checkRoleAccount.isRoleUser || checkRoleAccount.isRoleAdmin">
          <a class="card-header itemSidebar" *ngIf="!isCustomerShow" (click)="customerShow()" href="#otherSections"
            data-toggle="collapse" aria-expanded="false" role="button" aria-controls="otherSections">
            <i class="fa fa-chevron-circle-right">&nbsp;</i><span class="scroll-link"><b>Customer Management </b></span>
          </a>
          <a class="card-header itemSidebar" *ngIf="isCustomerShow" (click)="customerShow()" href="#otherSections"
            data-toggle="collapse" aria-expanded="false" role="button" aria-controls="otherSections">
            <i class="fa fa-chevron-circle-down">&nbsp;</i><span class="scroll-link"><b>Customer Management </b></span>
          </a>
          <ul class="card-block collapse list-unstyled collapse show paddingItem" id="otherSections">
            <li class="scroll-link1">
              <a [routerLink]="'/customer/management-customer'"> Customer Management</a>
            </li>
            <li class="scroll-link2 ">
              <a [routerLink]="'/customer/management-contract'"> Contract Management</a>
            </li>
          </ul>
        </li>
        <li class="d-flex flex-column bd-highligh " *ngIf="checkRoleAccount.isRoleUser || checkRoleAccount.isRoleAdmin">
          <a class="card-header itemSidebar" *ngIf="!isInternalShow" (click)="internalShow()" href="#otherSections1"
            data-toggle="collapse" aria-expanded="false" role="button" aria-controls="otherSections1">
            <i class="fa fa-chevron-circle-right">&nbsp;</i><span class="scroll-link"><b>Internal Management </b></span>
          </a>
          <a class="card-header itemSidebar" *ngIf="isInternalShow" (click)="internalShow()" href="#otherSections1"
            data-toggle="collapse" aria-expanded="false" role="button" aria-controls="otherSections1">
            <i class="fa fa-chevron-circle-down">&nbsp;</i><span class="scroll-link"><b>Internal Management </b></span>
          </a>
          <ul class="collapse list-unstyled collapse show paddingItem" id="otherSections1">
            <li class="scroll-link1">
              <a [routerLink]="'/internal/management-code'">Code Management</a>
            </li>
            <li class="scroll-link2">
              <a [routerLink]="'/internal/management-CICrpView'">CIC Report Inquiry Management</a>
            </li>
          </ul>
        </li>
        <li class="d-flex flex-column bd-highligh" *ngIf="checkRoleAccount.isRoleUser || checkRoleAccount.isRoleAdmin">
          <a class="card-header itemSidebar" *ngIf="!isSystemShow" (click)="systemShow()" href="#otherSections3"
            data-toggle="collapse" aria-expanded="false" role="button" aria-controls="otherSections1">
            <i class="fa fa-chevron-circle-right">&nbsp;</i><span class="scroll-link"><b>System Management </b></span>
          </a>
          <a class="card-header itemSidebar" *ngIf="isSystemShow" (click)="systemShow()" href="#otherSections3"
            data-toggle="collapse" aria-expanded="false" role="button" aria-controls="otherSections1">
            <i class="fa fa-chevron-circle-down">&nbsp;</i><span class="scroll-link"><b>System Management </b></span>
          </a>
          <ul class="collapse list-unstyled collapse show paddingItem" id="otherSections3">
            <li class="scroll-link1">
              <a [routerLink]="'/system/management-user'">User Management</a>
            </li>
            <li class="scroll-link2" >
              <a *ngIf="checkRoleAccount.isRoleAdmin" [routerLink]="'/system/management-captcha'">
                CAPTCHA Admin Management
              </a>
            </li>
          </ul>
        </li>
        <li class="d-flex flex-column bd-highligh" *ngIf="checkRoleAccount.isAccessCaptcha || checkRoleAccount.isRoleAdmin || checkRoleAccount.isRoleUser">
          <a class="card-header itemSidebar" *ngIf="!isCaptchaShow" (click)="captchaShow()" href="#otherSections4"
             data-toggle="collapse" aria-expanded="false" role="button" aria-controls="otherSections1">
            <i class="fa fa-chevron-circle-right">&nbsp;</i><span class="scroll-link"><b>Manual CAPTCHA</b></span>
          </a>
          <a class="card-header itemSidebar" *ngIf="isCaptchaShow" (click)="captchaShow()" href="#otherSections4"
             data-toggle="collapse" aria-expanded="false" role="button" aria-controls="otherSections1">
            <i class="fa fa-chevron-circle-down"></i>&nbsp;<span class="scroll-link"><b>Manual CAPTCHA</b></span>
          </a>
          <ul class="collapse list-unstyled collapse show paddingItem" id="otherSections4">
            <li class="scroll-link1">
              <a [routerLink]="'/manual/manual-captcha-b002'">B0002 Manual Captcha</a>
            </li>
            <li class="scroll-link2">
              <a [routerLink]="'/manual/manual-captcha-b003'">
                B0003 Manual Captcha
              </a>
            </li>
            <!--            <li style="padding-top: 10px ; padding-left: 5px ; padding-bottom: 10px">    temporary disable -->
            <!--              <a class="scroll-link" [routerLink]="'/manual/manual-captcha-b1003'">-->
            <!--                B1003 Manual Captcha-->
            <!--              </a>-->
            <!--            </li>-->
          </ul>
        </li>
        <li class="d-flex flex-column bd-highligh">
          <a class="card-header itemSidebar" *ngIf="!isMonitorShow" (click)="monitorShow()" href="#otherSections5"
             data-toggle="collapse" aria-expanded="false" role="button" aria-controls="otherSections">
            <i class="fa fa-chevron-circle-right">&nbsp;</i><span class="scroll-link"><b>Monitor</b></span>
          </a>
          <a class="card-header itemSidebar" *ngIf="isMonitorShow" (click)="monitorShow()" href="#otherSections5"
             data-toggle="collapse" aria-expanded="false" role="button" aria-controls="otherSections1">
            <i class="fa fa-chevron-circle-down"></i>&nbsp;<span class="scroll-link"><b>Monitor</b></span>
          </a>
          <ul class="collapse list-unstyled collapse show paddingItem" id="otherSections5">
            <li class="scroll-link1"><a [routerLink]="'/monitor/chart'">Chart Management</a></li>
            <li class="scroll-link1"><a [routerLink]="'/monitor/log'">Logger Management</a></li>
          </ul>
        </li>
      </ul>
    </app-sidebar>
  </div>
  <!-- Main content -->
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-item" *ngFor="let item of breadcrumbList; let i = index"
        [class.active]="i===breadcrumbList.length-1">
        <a [routerLink]="item.path.replace('.','/')" *ngIf="i!==breadcrumbList.length-1">
          {{item.name}}
        </a>
        <span *ngIf="i===breadcrumbList.length-1">{{ item.name }}</span>
      </li>
      <li class="breadcrumb-menu d-md-down-none">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <a class="btn" [routerLink]="'/monitor/FPTBalance'"><i class="icon-money"></i> &nbsp;FPT Balance</a>
      <a class="btn" [routerLink]="'/monitor/countTransactions'"><i class="icon-note"></i> &nbsp;Transactions</a>
      <a class="btn" [routerLink]="'/monitor/chart'"><i class="icon-graph"></i> &nbsp;Dashboard</a>
      </div>
      </li>
    </cui-breadcrumb>
    <!-- deprecation warning for 'app-breadcrumb' -->
    <!--<ol class="breadcrumb">-->
    <!--<app-breadcrumb></app-breadcrumb>-->
    <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
    <!--<li class="breadcrumb-menu d-md-down-none">-->
    <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
    <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
    <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
    <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ol>-->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="false" [display]="false" [ngClass]="'test'">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="icon-list" (click)="notiClickList()"></i> <span *ngIf="countNotifyAPI != 0"
            class="badge badge-danger" (click)="notiClickList()">{{countNotifyAPI}}</span>
        </ng-template>
        <div class="p-3" (click)="notiClickList()">
          <div class="noti-box">
            <div class="message" *ngFor="let message of dataExternal">
              <!-- <div class="py-3 pb-5 mr-3 float-left">
            <div class="avatar">

            </div>
          </div> -->
              <div *ngIf="message != null">
                <small class="text-truncate font-weight-bold">Noti External message </small>
                <small class="text-muted float-right mt-1">{{message.responseTime}}</small>
              </div>
              <!-- <div *ngIf="message != null" class="text-truncate font-weight-bold">New notification</div> -->
              <div class="small text-muted text-truncate">
                Message: {{message.responseMessage}}
              </div>
            </div>
            <hr>
            <div class="message" *ngFor="let message of dataInternal">
              <!-- <div class="py-3 pb-5 mr-3 float-left">
            <div class="avatar">

            </div>
          </div> -->
              <div *ngIf="message != null">
                <small class="text-truncate font-weight-bold">Noti Internal Batch Process</small>
                <small class="text-muted float-right mt-1">{{message.responseTime}}</small>
              </div>
              <!-- <div *ngIf="message != null" class="text-truncate font-weight-bold">New notification</div> -->
              <div class="small text-muted text-truncate">
                Nice key: {{message.niceSessionKey}} <br />
                Message: {{message.responseMessage}}
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading><i class="icon-speech" (click)="notiClickMessage()"></i> <span *ngIf="countNotifyMessage != 0"
            class="badge badge-danger" (click)="notiClickMessage()">{{countNotifyMessage}}</span>
        </ng-template>
        <div class="p-3" (click)="notiClickMessage()">
          <div class="messages-box" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <div>
              <div class="media-body">
                <div class="row">
                  <div class="col-12">
                    <div *ngFor="let message of messages">
                      <div *ngIf="message.username == currentUserName" class="text-right ">
                        {{message.username}}
                        <div class="alert alert-success">{{message.message}}</div>
                      </div>
                      <div *ngIf="message.username != currentUserName" class="text-left ">
                        {{message.username}}
                        <div class="alert alert-primary">{{message.message}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <form class="example-form" [formGroup]="formMess">
            <div class="input-group">
              <input class="form-control rounded-0 border-0 py-4 bg-light" maxlength="256"
                placeholder="Ex. I need help with..." formControlName="message" />
              <button class="btn btn-link" id="button-addon2" type="submit" (click)="sendMessage()"><i
                  class="fa fa-paper-plane"></i></button>
            </div>
          </form>
        </div>
      </tab>
<!--      -->
      <tab>
        <ng-template tabHeading><i class="icon-settings"></i></ng-template>
        <div class="p-3">
          <h6>Settings</h6>
          <div class="aside-options">
            <div class="clearfix mt-4">
              <small><b>Option 1</b></small>
              <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
            <div>
              <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</small>
            </div>
          </div>
          <div class="aside-options">
            <div class="clearfix mt-3">
              <small><b>Option 2</b></small>
              <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
            <div>
              <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</small>
            </div>
          </div>
          <div class="aside-options">
            <div class="clearfix mt-3">
              <small><b>Option 3</b></small>
              <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>
          <div class="aside-options">
            <div class="clearfix mt-3">
              <small><b>Option 4</b></small>
              <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
          </div>
          <hr>
          <h6>System Utilization</h6>
          <div class="text-uppercase mb-1 mt-4"><small><b>CPU Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <small class="text-muted">348 Processes. 1/4 Cores.</small>
          <div class="text-uppercase mb-1 mt-2"><small><b>Memory Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">11444GB/16384MB</small>
          <div class="text-uppercase mb-1 mt-2"><small><b>SSD 1 Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">243GB/256GB</small>
          <div class="text-uppercase mb-1 mt-2"><small><b>SSD 2 Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">25GB/256GB</small>
        </div>
      </tab>
    </tabset>
  </app-aside>
</div>
<app-footer>
  <span><a href="">Back-office</a> &copy; 2019 Develop teams.</span>
  <span class="ml-auto">Powered by <a href="">Nice-InfoPlus</a></span>
</app-footer>


<button id="openModalNotifyLogout" data-backdrop="static" [hidden]="true" type="button" class="btn btn-primary"
  data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Notify</h5>
        <button #closeModalNotifyLogout [hidden]="true" type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">Page Expired!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm"
          (click)="closeNotifyAndLogout(closeModalNotifyLogout)">OK</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade confirmLogout" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle4">Notify</h5>
        <button #closeConfirmLogout type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">Are you sure ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="logout(closeConfirmLogout)">Logout</button>
      </div>
    </div>
  </div>
</div>
