.sidebar {
  padding-top: 5px;
  width: 240px;
}
b {
    font-weight: bold;
    color: white;
  }

a {
    color: #20a8d8;
  }
.itemSidebar {
  background: #187da0;
  padding-left: 5px;
}
app-footer {
 background-image: url("/assets/img/brand/image.png");
  background-size: cover;
}

app-header {
  background-image: url("/assets/img/brand/image.png");
  background-size: 100% 100%;
}
.scroll-link1 {
  padding-top: 10px ;
  padding-left: 5px
}

.scroll-link2 {
  padding-top: 10px ;
  padding-left: 5px ;
  padding-bottom: 10px
}

.paddingItem {
  padding-left: 25px;
}
.messages-box,
.chat-box {
  height: 500px;
  overflow-y: auto;
  width: 100%;
}
.message {
  overflow-y: auto;
  width: 100%;
}
.noti-box {
  height: 600px;
  overflow-y: auto;
  width: 100%;
}
.content-noti{
  font-style: italic;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

.badge-pill{
  position: absolute;
  top: -5px;
  right: -30px;
  border-radius: 50%;
  background-color: red;
  color: white;
  margin-right: -15px;
}

