

<div class="container-fluid">
  <!--  -->
  <div class="row">
    <div class="col-md-12">
      <h3>
        <span><b>B1003</b></span>
      </h3>
      <div class="card acik-renk-form">
        <div class="card-body">
          <form [formGroup]="formSearchCIC">
            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-6">
                <div class="form-group text-center">
                  <label>* Nice Session Number</label>
                  <br/>
                  <input formControlName="niceSsID"  type="text" class="form-control">
                  <br/>
                  <div class="text-center">
                    <button *ngIf="isLooking ; else other" class="btn btn-outline-primary">
                      Looking
                      <span class="spinner-border spinner-border-sm"></span>
                    </button>
                    <ng-template #other>
                      <button class="btn btn-outline-primary" (click)="searchDataForB1003() ">Look up</button>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
              </div>
            </div>
          </form>
        </div>

        <!--      -->
      </div>
    </div>
  </div>
  <!--    -->
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3>
        <span><b></b></span>
      </h3>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!--     result query status here-->
      <div>
        <div *ngIf="mesQuery" class="card-header">
          <span class="text text-sm-left">* Inquiry Result: {{mesQuery}}</span>
          <br/>
          <span class="text text-sm-left">* Inquiry Date: {{timeQuery}}</span>
        </div>
        <!--result table-->
        <div style="overflow-x:auto;" *ngIf="listB1003" >
        <table class="table table-bordered text-center" style="background: white">
          <thead class="bg-primary">
          <tr>
            <th scope="col">NICE session number</th>
            <th scope="col">Organization code</th>
            <th scope="col">Organization Name</th>
            <th scope="col">Product Number</th>
            <th scope="col">CIC number</th>
            <th scope="col">Inquiry Date</th>
            <th scope="col">Status code</th>
            <th scope="col">Response code</th>
            <th scope="col">Final operation date</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let b1003 of listB1003.rowRs" (dblclick)="openDetailForm(openModalUpdate , b1003)">
            <th scope="row">{{b1003.NICE_SSIN_ID}}</th>
            <td>{{b1003.CUST_CD}}</td>
            <td>{{b1003.CUST_NM}}</td>
            <td>{{b1003.GDS_CD}}</td>
            <td>{{b1003.CIC_ID}}</td>
            <td>{{b1003.INQ_DTIM}}</td>
            <td>{{b1003.SCRP_STAT_CD}}</td>
            <td>{{b1003.RSP_CD}}</td>
            <td>{{b1003.SYS_DTIM}}</td>
            <td><button (click)="openDetailForm(openModalUpdate , b1003)" class="btn btn-sm btn-instagram">Detail</button></td>
          </tr>
          </tbody>
        </table>
          <div>
            <nav aria-label="Page navigation example">
              <ul *ngIf="pagerB1003.pages && pagerB1003.pages.length && listB1003" class="pagination justify-content-center">
                <li [ngClass]="{disabled:pagerB1003.currentPage == 1}" class="page-item">
                  <a (click)="setPageSearchB1003(1)" (click)="paginationB1003(0)" class="page-link" aria-label="Previous">
                    First
                  </a>
                </li>
                <li [ngClass]="{disabled:pagerB1003.currentPage == 1}" class="page-item">
                  <a (click)="setPageSearchB1003(pagerB1003.currentPage - 1)" (click)="paginationB1003(pagerB1003.currentPage - 2)" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li *ngFor="let page of pagerB1003.pages" [ngClass]="{active:pagerB1003.currentPage == page}" class="page-item">
                  <a class="page-link" (click)="setPageSearchB1003(page)" (click)="paginationB1003(page - 1)">{{page}}</a></li>
                <li [ngClass]="{disabled:pagerB1003.currentPage == pagerB1003.totalPages}" class="page-item">
                  <a (click)="setPageSearchB1003(pagerB1003.currentPage + 1) " (click)="paginationB1003(pagerB1003.currentPage - 1)" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li [ngClass]="{disabled:pagerB1003.currentPage == pagerB1003.totalPages}" class="page-item">
                  <a (click)="paginationB1003(pagerB1003.totalPages - 1)" (click)="setPageSearchB1003(pagerB1003.totalPages)" class="page-link" aria-label="Next">
                    Last
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--      -->
      </div>
    </div>
  </div>
</div>


<!-- Button to Open the ModalUpdate -->
<button #openModalUpdate hidden type="button" data-keyboard="false" data-backdrop="static" class="btn btn-primary" data-toggle="modal" data-target="#myModalUpdate">
  Open modal
</button>
<!-- Modal Update -->
<div class="modal fade" id="myModalUpdate">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          <p> Detailed
            Information</p>
        </h4>
        <button type="button" class="close" data-dismiss="modal" (click)="searchDataForB1003() ">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" *ngIf="B1003  && !isResult">
        <form>
          <div class="row">
            <div class="container register-form">
              <div class="form">
                <div class="form-content">
                  <div class="row">
                    <div class="col-md-4 "></div>
                    <div class="col-md-4 ">
                      <div class="form-group text-center" *ngIf="B1003ResponseFromInternal">
                        <br/>
                        <img src="data:image/png;base64,{{B1003ResponseFromInternal.imgBase64}}" />
                        <br/>
                        <br/>
                        Step: <span class="badge badge-info">{{B1003ResponseFromInternal.dataStep.step}}</span>
                        <br/>
                        <div class="form-group">
                          <input [(ngModel)]="inputCaptcha" name="captcha" type="text" class="form-control" placeholder="Insert Captcha Here" value=""/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 "></div>
                  </div>
                  <div class="text-center">
                    <div *ngIf="messCaptcha">
                      <h5 class=" text-danger"> {{messCaptcha}} </h5>
                      <button class="btn btn-sm" data-dismiss="modal"><i class="icon icon-refresh"></i>Try again</button>
                    </div>
                  </div>
                  <br/>
                  <div class="text-center">
                    <div>
                      <button *ngIf="isSubmitting ; else submit" class="btn btn-outline-info">
                        Submitting
                        <span class="spinner-border spinner-border-sm"></span>
                      </button>
                    </div>
                    <ng-template #submit>
                      <button *ngIf="!messCaptcha"  type="button" class="btn btn-outline-info" (click)="searchDataB1003ByInternal()">Submit</button>
                    </ng-template>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>NICE session number</span>
                        <input disabled type="text" name="nice" class="form-control" [(ngModel)]="B1003.NICE_SSIN_ID"/>
                      </div>
                      <div class="form-group">
                        <span>Organization code</span>
                        <input disabled type="text" name="nice2" class="form-control" [(ngModel)]="B1003.CUST_CD"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Organization session number</span>
                        <input disabled type="text" name="nice3" class="form-control" [(ngModel)]="B1003.CUST_SSID_ID"/>
                      </div>
                      <div class="form-group">
                        <span>Organization name</span>
                        <input disabled type="text" name="nice4" class="form-control" [(ngModel)]="B1003.CUST_NM"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Product code</span>
                        <input disabled type="text" name="nice5" class="form-control" [(ngModel)]="B1003.GDS_CD"/>
                      </div>
                      <div class="form-group">
                        <span>Customer ID</span>
                        <input disabled type="text" name="nice6" class="form-control" [(ngModel)]="B1003.CUST_ID"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Tax payment code</span>
                        <input disabled type="text" name="nice7" class="form-control" [(ngModel)]="B1003.TAX_ID"/>
                      </div>
                      <div class="form-group">
                        <span>Other ID</span>
                        <input disabled type="text" name="nice8" class="form-control" [(ngModel)]="B1003.OTR_ID"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Final operation date</span>
                        <input disabled type="text" name="nice9" class="form-control" [(ngModel)]="B1003.SYS_DTIM"/>
                      </div>
                      <div class="form-group">
                        <span>Response code</span>
                        <input disabled type="text" name="nice15" class="form-control" [(ngModel)]="B1003.RSP_CD"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>User ID</span>
                        <input disabled type="text" name="nice10" class="form-control" [(ngModel)]="B1003.LOGIN_ID"/>
                      </div>
                      <div class="form-group">
                        <span>CIC number</span>
                        <input disabled type="text" name="nice11" class="form-control" [(ngModel)]="B1003.CIC_ID"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Inquiry date</span>
                        <input disabled type="text" name="nice12" class="form-control" [(ngModel)]="B1003.INQ_DTIM"/>
                      </div>
                      <div class="form-group">
                        <span>Consent to Providing Information</span>
                        <input disabled type="text" class="form-control" name="nice13" [(ngModel)]="B1003.AGR_FG"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Status code</span>
                        <input disabled type="text" name="nice15" class="form-control" [(ngModel)]="B1003.SCRP_STAT_CD"/>
                      </div>
                      <div class="form-group">
                        <span>National ID</span>
                        <input disabled type="text" name="nice14" class="form-control" [(ngModel)]="B1003.NATL_ID"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Passport</span>
                        <input disabled type="text" name="nice16" class="form-control" [(ngModel)]="B1003.PSPT_NO"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Old National ID</span>
                        <input disabled type="text" name="nice17" class="form-control" [(ngModel)]="B1003.OLD_NATL_ID"/>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row" *ngIf="B1003ResponseFromInternal && isResult">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div *ngIf="B1003ResponseFromInternal.outJson.outB1003.reportHtml">
            <p [innerHTML]="B1003ResponseFromInternal.outJson.outB1003.reportHtml"></p>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>













