th.result {
  width: 20px;
}

th.tb-name {
  width: 15%;
  background: lightcyan;
}

th.tb-value {
  width: 33%;
  background: whitesmoke;
}
th.tb-address {
  width: 90%;
  background: whitesmoke;
}

.scroll {
  display: block;
  height: 300px !important;
  overflow-y: scroll;
}

a {
  cursor: pointer;
}





