<div class="container-fluid" >
<div class="row">
  <div class="col-md-12">
    <h3>
      <span><b>Customer management</b></span>
    </h3>
    <div class="card acik-renk-form">
<!--      Form management User-->
      <form [formGroup]="formSearchCus">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group ">
              <label>* Organization Classification</label>
              <br/>
              <input placeholder="10:NICE" formControlName="custClassicfication" type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label>*
                Organization English Name</label>
              <br/>
              <div class="btn-group">
                <input formControlName="custNm" type="text" class="form-control">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle" data-toggle="modal" data-target="#exampleModalCenter">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-right">
              <button *ngIf="isLooking ; else other" class="btn btn-outline-primary">
                Looking
                <span class="spinner-border spinner-border-sm"></span>
              </button>
              <ng-template #other>
                <button class="btn btn-outline-primary" (click)="searchInfoCustomer()">Look up</button>
              </ng-template>
              <button *ngIf="checkRoleAccount.isRoleAdmin" type="button" (click)="setTimeSys()" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal">
                Register
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group ">
              <label>* Organization Code</label>
              <br/>
              <input formControlName="cusCd" type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <label>*
              Information Status</label>
            <br/>
                        <div class="form-group ">
                          <select formControlName="status" id="ilceler" class="custom-select" >
                            <option value=1 [selected]="true">Active</option>
                            <option value=2>Expire</option>
                            <option value=3>All</option>
                          </select>
                        </div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
      </form>
<!--      -->
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
  <hr>
  <h3 *ngIf="mesQuery">
    <span><b>Basic Customer Information</b></span>
  </h3>
  <div class="row">
   <div class="col-md-12">
<!--     result query status here-->
    <div >
      <div *ngIf="mesQuery" class="card-header">
        <span class="text text-sm-left">* Inquiry Result: {{mesQuery}}</span>
        <br/>
        <span class="text text-sm-left">* Inquiry Date: {{timeQuery}}</span>
      </div>
<!--result table-->
      <div style="overflow-x:auto;" *ngIf="listInfoCus">
      <table class="table table-bordered text-center" style="background: white">
        <thead class="bg-primary">
        <tr>
          <th scope="col">Class</th>
          <th scope="col">Code</th>
          <th scope="col">English Name</th>
          <th scope="col">Branch English Name</th>
          <th scope="col">Registration Number</th>
          <th scope="col">Valid Start Date</th>
          <th scope="col">Valid End Date</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cust of listInfoCus.rowRs" (dblclick)="openDetailForm(openModalUpdate, cust)">
          <th scope="row">{{cust.CUST_GB}}</th>
          <td>{{cust.CUST_CD}}</td>
          <td>{{cust.CUST_NM_ENG}}</td>
          <td>{{cust.BRANCH_NM_ENG}}</td>
          <td>{{cust.CO_RGST_NO}}</td>
          <td>{{cust.VALID_START_DT}}</td>
          <td>{{cust.VALID_END_DT}}</td>
          <td *ngIf="cust.STATUS == 1" class="text-success">Active</td>
          <td *ngIf="cust.STATUS == 0" class="text-danger">History</td>
          <td *ngIf="cust.STATUS == null" class="text-warning">Expired</td>
          <td><button class="btn btn-sm btn-instagram" (click)="openDetailForm(openModalUpdate, cust)">Detail</button> </td>
        </tr>
        </tbody>
      </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul *ngIf="pagerCust.pages && pagerCust.pages.length && listInfoCus" class="pagination justify-content-center">
              <li [ngClass]="{disabled:pagerCust.currentPage == 1}" class="page-item">
                <a (click)="setPageSearchCust(1)" (click)="paginationCustomer(0)" class="page-link" aria-label="Previous">
                  First
                </a>
              </li>
              <li [ngClass]="{disabled:pagerCust.currentPage == 1}" class="page-item">
                <a (click)="setPageSearchCust(pagerCust.currentPage - 1)" (click)="paginationCustomer(pagerCust.currentPage - 2)" class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li *ngFor="let page of pagerCust.pages" [ngClass]="{active:pagerCust.currentPage == page}" class="page-item">
                <a class="page-link" (click)="setPageSearchCust(page)" (click)="paginationCustomer(page - 1)">{{page}}</a></li>
              <li [ngClass]="{disabled:pagerCust.currentPage == pagerCust.totalPages}" class="page-item">
                <a (click)="setPageSearchCust(pagerCust.currentPage + 1) " (click)="paginationCustomer(pagerCust.currentPage - 1)" class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <li [ngClass]="{disabled:pagerCust.currentPage == pagerCust.totalPages}" class="page-item">
                <a (click)="paginationCustomer(pagerCust.totalPages - 1)" (click)="setPageSearchCust(pagerCust.totalPages)" class="page-link" aria-label="Next">
                  Last
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
<!--      -->
    </div>
  </div>
</div>
</div>

<!-- Modal show Organization Name -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Organization Selection</h5>
        <button #closeOrnName type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row">
         <div class="col-md 12">
           <form [formGroup]="formSearchCusModal">
          * Organization Classification
           <br/>
           <input placeholder="10:NICE" formControlName="custClassicfication" type="text" class="form-control-sm">

           <br/>
           <br/>

           * Organization English Name
           <br/>
           <input formControlName="custNm" type="text" class="form-control-sm">
           <br/>
           <br/>
             <span class="text-danger">
               {{mesModal}}
             </span>
           <div class="text-center">
             <button *ngIf="isLookingOrg ; else otherOrg" class="btn btn-sm btn-outline-primary">
               Looking
               <span class="spinner-border spinner-border-sm"></span>
             </button>
             <ng-template #otherOrg>
               <button class="btn btn-sm btn-outline-primary" (click)="searchInfoCustByNameAndClass()">Look up</button>
             </ng-template>
           </div>
           </form>
         </div>
       </div>
        <hr>
        <div class="row" *ngIf="listCustModal">
          <div class="col-md-12" style="overflow-x:auto;">
            <table class="table table-bordered">
              <thead class="thead-light fixed">
              <tr>
                <th  scope="col">Classification</th>
                <th  scope="col">Code</th>
                <th  scope="col">English Name</th>
                <th  scope="col"></th>
              </tr>
              </thead>
              <tr *ngFor="let cust of listCustModal.rowRs" (dblclick)="getDataToInputSearch(closeOrnName,cust)">
                <td class="text-center" >{{cust.CUST_GB}}</td>
                <td class="text-center" >{{cust.CUST_CD}}</td>
                <td class="text-center" >{{cust.CUST_NM_ENG}}</td>
                <td class="text-center" ><button class="btn btn-sm btn-instagram" (click)="getDataToInputSearch(closeOrnName,cust)"><i class="icon-plus"></i></button></td>
              </tr>
            </table>
            <div>
              <nav aria-label="Page navigation example">
                <ul *ngIf="pagerCustModal.pages && pagerCustModal.pages.length && listCustModal" class="pagination pagination-sm justify-content-center">
                  <li [ngClass]="{disabled:pagerCustModal.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchCustModal(1)" (click)="paginationCustModal(0)" class="page-link" aria-label="Previous">
                      First
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerCustModal.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchCustModal(pagerCustModal.currentPage - 1)" (click)="paginationCustModal(pagerCustModal.currentPage - 2)" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li *ngFor="let page of pagerCustModal.pages" [ngClass]="{active:pagerCustModal.currentPage == page}" class="page-item">
                    <a class="page-link" (click)="setPageSearchCustModal(page)" (click)="paginationCustModal(page - 1)">{{page}}</a></li>
                  <li [ngClass]="{disabled:pagerCustModal.currentPage == pagerCustModal.totalPages}" class="page-item">
                    <a (click)="setPageSearchCustModal(pagerCustModal.currentPage + 1) " (click)="paginationCustModal(pagerCustModal.currentPage - 1)" class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerCustModal.currentPage == pagerCustModal.totalPages}" class="page-item">
                    <a (click)="paginationCustModal(pagerCustModal.totalPages - 1)" (click)="setPageSearchCustModal(pagerCustModal.totalPages)" class="page-link" aria-label="Next">
                      Last
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<!-- Button to Open the ModalUpdate -->
<button #openModalUpdate hidden type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalUpdate">
  Open modal
</button>
<!-- Modal Update -->
<div class="modal fade" id="myModalUpdate">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Detailed Customer Information</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" *ngIf="formUpdateCus.value.STATUS != 0 && checkRoleAccount.isRoleAdmin">
        <form [formGroup]="formUpdateCus">
          <div *ngIf="custInfo" class="row">
            <div class="col-md-12" style="overflow-x:auto;">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <!--                  -->
                  <th class="text-center tb-name">Classification</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.CUST_GB}}</label>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Code</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.CUST_CD}}</label>
                  </th>
                  <!--                  -->
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Name</th>
                  <th class="tb-value text-center">
                    <input formControlName="CUST_NM" name="form2"  maxlength="100"  class="form-control" contenteditable="true" type="text">
                  </th>
                  <!---->
                  <th class=" text-center tb-name">English Name</th>
                  <th class="tb-value text-center">
                    <input formControlName="CUST_NM_ENG" name="form3"  maxlength="100"  class="form-control" contenteditable="true" type="text">
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Branch Name</th>
                  <th class="tb-value text-center">
                    <input formControlName="BRANCH_NM"  name="form4" maxlength="100"  class="form-control" contenteditable="true" type="text">
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">English Branch Name</th>
                  <th class="tb-value text-center">
                    <input formControlName="BRANCH_NM_ENG"   name="form5" maxlength="100"  class="form-control" contenteditable="true" type="text">
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Registration Number</th>
                  <th class="tb-value text-center">
                    <input formControlName="CO_RGST_NO" maxlength="30" name="form6"    class="form-control" contenteditable="true" type="text">
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Industry Code</th>
                  <th class="tb-value text-center">
                    <input formControlName="BIZ_CG_CD" maxlength="2"   name="form7"  class="form-control" contenteditable="true" type="text">
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Parent
                    Organization
                    Classification
                  </th>
                  <th class="tb-value text-center">
                    <input formControlName="PRT_CUST_GB"  maxlength="2"  name="form8"   class="form-control" contenteditable="true" type="text">
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Parent
                    Organization
                    Code
                  </th>
                  <th class="tb-value text-center">
                    <input formControlName="PRT_CUST_CD" maxlength="10"  name="form9"   class="form-control" contenteditable="true" type="text">
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Valid Start Date</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.VALID_START_DT}}</label>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Valid End Date</th>
                  <th class="tb-value text-center">
                    <span class="form-check">
                      {{this.formUpdateCus.value.VALID_END_DT}}
                    </span>
                    <input formControlName="VALID_END_DT" maxlength="10"  name="form11"  class="form-control" contenteditable="true" type="date">
                  </th>
                  <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Final Operation
                    date
                  </th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.SYS_DTIM}}</label>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Work ID</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.WORK_ID}}</label>
                  </th>
                </tr>
                <!--                -->
              </table>
              <table class="table table-bordered">
                <tr>
                  <th class=" text-center tb-name">Address</th>
                  <th class="text-center tb-address">
                    <input maxlength="1000"  formControlName="ADDR" name="form14" class="form-control" contenteditable="true" type="text">
                  </th>
                </tr>
                <!--                -->
              </table>
            </div>
            <div class="col-5">
            </div>
            <div class="col-2">
              <div class="form-group ">
                <div class="text-center">
                  <span *ngIf="!formUpdateCus.value.STATUS">Status:<b class="text-warning"> Expire</b></span>
                  <span *ngIf="formUpdateCus.value.STATUS == 1">Status:<b class="text-success"> Active</b></span>
                </div>
                <select formControlName="STATUS" name="selectStatus" class="custom-select">
                  <option value = 1 class="text-success" >Active</option>
                  <option value = 2 class="text-warning" >Expire</option>
                </select>
              </div>
            </div>
            <div class="col-5">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-body" *ngIf="formUpdateCus.value.STATUS == 0 && checkRoleAccount.isRoleAdmin">
        <form [formGroup]="formUpdateCus">
          <div *ngIf="custInfo" class="row">
            <div class="col-md-12" style="overflow-x:auto;">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <!--                  -->
                  <th class="text-center tb-name">Classification</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.CUST_GB}}</label>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Code</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.CUST_CD}}</label>
                  </th>
                  <!--                  -->
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Name</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.CUST_NM}}</label>
                  </th>
                  <!---->
                  <th class=" text-center tb-name">English Name</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.CUST_NM_ENG}}</label>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Branch Name</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.BRANCH_NM}}</label>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">English Branch Name</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.BRANCH_NM_ENG}}</label>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Registration Number</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.CO_RGST_NO}}</label>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Industry Code</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.BIZ_CG_CD}}</label>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Parent
                    Organization
                    Classification
                  </th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.PRT_CUST_GB}}</label>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Parent
                    Organization
                    Code
                  </th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.PRT_CUST_CD}}</label>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Valid Start Date</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.VALID_START_DT}}</label>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Valid End Date</th>
                  <th class="tb-value text-center">
                    <span class="form-check">
                      {{formUpdateCus.value.VALID_END_DT}}
                    </span>
                  </th>
                  <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Final Operation
                    date
                  </th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.SYS_DTIM}}</label>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Work ID</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.WORK_ID}}</label>
                  </th>
                </tr>
                <!--                -->
              </table>
              <table class="table table-bordered">
                <tr>
                  <th class=" text-center tb-name">Address</th>
                  <th class=" tb-address">
                    <label>{{formUpdateCus.value.ADDR}}</label>
                  </th>
                </tr>
                <!--                -->
              </table>
            </div>
            <div class="col-5">
            </div>
            <div class="col-2">
              <div class="form-group ">
                <div class="text-center">
                  <span><b>Status: </b></span>
                  <label *ngIf="custInfo.STATUS == 1" class="text-success"> Active</label>
                  <label *ngIf="!custInfo.STATUS" class="text-danger"> History</label>
                </div>
              </div>
            </div>
            <div class="col-5">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-body" *ngIf="checkRoleAccount.isRoleUser">
        <form [formGroup]="formUpdateCus">
          <div *ngIf="custInfo" class="row">
            <div class="col-md-12" style="overflow-x:auto;">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <!--                  -->
                  <th class="text-center tb-name">Classification</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.CUST_GB}}</label>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Code</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.CUST_CD}}</label>
                  </th>
                  <!--                  -->
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Name</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.CUST_NM}}</label>
                  </th>
                  <!---->
                  <th class=" text-center tb-name">English Name</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.CUST_NM_ENG}}</label>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Branch Name</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.BRANCH_NM}}</label>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">English Branch Name</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.BRANCH_NM_ENG}}</label>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Registration Number</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.CO_RGST_NO}}</label>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Industry Code</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.BIZ_CG_CD}}</label>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Parent
                    Organization
                    Classification
                  </th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.PRT_CUST_GB}}</label>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Parent
                    Organization
                    Code
                  </th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.PRT_CUST_CD}}</label>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Valid Start Date</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.VALID_START_DT}}</label>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Valid End Date</th>
                  <th class="tb-value text-center">
                    <span class="form-check">
                      {{formUpdateCus.value.VALID_END_DT}}
                    </span>
                  </th>
                  <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Final Operation
                    date
                  </th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.SYS_DTIM}}</label>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Work ID</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateCus.value.WORK_ID}}</label>
                  </th>
                </tr>
                <!--                -->
              </table>
              <table class="table table-bordered">
                <tr>
                  <th class=" text-center tb-name">Address</th>
                  <th class=" tb-address">
                    <label>{{formUpdateCus.value.ADDR}}</label>
                  </th>
                </tr>
                <!--                -->
              </table>
            </div>
            <div class="col-5">
            </div>
            <div class="col-2">
              <div class="form-group ">
                <div class="text-center">
                  <span><b>Status: </b></span>
                  <label *ngIf="custInfo.STATUS == 1" class="text-success"> Active</label>
                  <label *ngIf="custInfo.STATUS == 0" class="text-danger"> History</label>
                  <label *ngIf="custInfo.STATUS == null" class="text-warning"> Expire</label>
                </div>
              </div>
            </div>
            <div class="col-5">
            </div>
          </div>
        </form>
      </div>
      <div >
        <div class="text-center">
          <h5>
            <b class="alert text-dark">{{this.messageValidUpdate}}</b>
          </h5>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer" *ngIf="checkRoleAccount.isRoleAdmin">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="isWaitingUpdate ; else otherUpdate" class="btn btn-outline-primary">
          Updating
          <span class="spinner-border spinner-border-sm"></span>
        </button>
        <ng-template #otherUpdate>
          <button  type="button" class="btn btn-outline-primary" (click)="updateCusInfo()" >Update</button>
        </ng-template>
      </div>

    </div>
  </div>
</div>




<!-- Modal Register -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Register</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formAddCus">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <!--                  -->
                  <th class="text-center tb-name">Classification*</th>
                  <th class="tb-value text-center">
                    <input formControlName="classFication" placeholder="10: NICE" class="form-control" maxlength="2" contenteditable="true" type="text" required>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Code*</th>
                  <th class="tb-value text-center">
                    <input maxlength="10" formControlName="custCD" class="form-control" contenteditable="true" type="text">
                  </th>
                  <!--                  -->
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Name</th>
                  <th class="tb-value text-center">
                    <input maxlength="100" formControlName="custNM" class="form-control" contenteditable="true" type="text">
                  </th>
                  <!---->
                  <th class=" text-center tb-name">English Name</th>
                  <th class="tb-value text-center">
                    <input maxlength="100" formControlName="custNMENG" class="form-control" contenteditable="true" type="text">
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Branch Name</th>
                  <th class="tb-value text-center">
                    <input maxlength="100" formControlName="custBranchNM" class="form-control" contenteditable="true" type="text">
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">English Branch Name</th>
                  <th class="tb-value text-center">
                    <input maxlength="100" formControlName="custBranchNM_EN" class="form-control" contenteditable="true" type="text">
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Registration Number</th>
                  <th class="tb-value text-center">
                    <input maxlength="30"  formControlName="coRgstNo" class="form-control" contenteditable="true" type="text">
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Industry Code</th>
                  <th class="tb-value text-center">
                    <input maxlength="2"  formControlName="industryCD" class="form-control" contenteditable="true" type="text">
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Parent
                    Organization
                    Classification
                  </th>
                  <th class="tb-value text-center">
                    <input maxlength="2"  formControlName="prtOrganizationClass" class="form-control" contenteditable="true" type="text">
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Parent
                    Organization
                    Code
                  </th>
                  <th class="tb-value text-center">
                    <input maxlength="10"  formControlName="prtOrganizationCD" class="form-control" contenteditable="true" type="text">
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Valid Start Date*</th>
                  <th class="tb-value text-center">
                    <input formControlName="validStartDT" class="form-control" contenteditable="true" type="date">
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Valid End Date</th>
                  <th class="tb-value text-center">
                    <input formControlName="validEndDT" class="form-control" contenteditable="true" type="date">
                  </th>
                  <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Final Operation
                    date*
                  </th>
                  <th class="tb-value text-center">
                    {{timeNow}}
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Work ID*</th>
                  <th class="tb-value text-center">
                    {{currentUserName}}
                  </th>
                </tr>
                <!--                -->
              </table>

              <table class="table table-bordered">
                <tr>
                  <th class=" text-center tb-name">Address</th>
                  <th class="text-center tb-address">
                    <input maxlength="1000"  formControlName="addr" class="form-control" contenteditable="true" type="text">
                  </th>
                </tr>
                <!--                -->
              </table>
            </div>
          </div>
        </form>
      </div>
      <div >
        <div class="text-center">
          <h5>
          <b class="alert text-dark">{{this.messageValidADD}}</b>
          </h5>
        </div>

      <!-- Modal footer -->
      <div class="modal-footer" >
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="isWaitingRegister ; else otherRegister" class="btn btn-outline-primary">
          Updating
          <span class="spinner-border spinner-border-sm"></span>
        </button>
        <ng-template #otherRegister>
          <button type="button" class="btn btn-outline-primary " (click)="createNewCus()" >Register</button>
        </ng-template>
      </div>

    </div>
  </div>
</div>
</div>



