<div class="container-fluid" >
  <div class="row">
    <div class="col-md-12">
      <h3>
        <span><b>Code Management</b></span>
      </h3>
      <div class="card acik-renk-form">
        <!--      Form management Code-->
        <form [formGroup]="searchCodeForm">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group ">
                  * Code
                  <br/>
                  <input formControlName="code"  type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group ">
                  * Code Classification
                  <br/>
                  <div class="btn-group">
                    <input formControlName="codeClass" type="text" class="form-control">
                    <button (click)="searchCodeClassification()" type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle" data-toggle="modal" data-target="#CodeClassification">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="text-right">
                  <button *ngIf="isLooking ; else other" class="btn btn-outline-primary">
                  Looking
                  <span class="spinner-border spinner-border-sm"></span>
                   </button>
                  <ng-template #other>
                    <button class="btn btn-outline-primary" (click)="searchCode()">Look up</button>
                  </ng-template>
                  <button *ngIf="checkRoleAccount.isRoleAdmin" type="button" class="btn btn-outline-success" (click)="removeMes()" data-toggle="modal" data-target="#myModalRegister">
                    Register
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group ">
                  * English Code Name
                  <br/>
                  <input formControlName="codeNm" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                *
                  Information Status
                <br/>
                <div class="form-group ">
                  <select formControlName="status" id="ilceler" class="custom-select">
                    <option value=1 [selected]="true">Active</option>
                    <option value=2>Expire</option>
                    <option value=3>All</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!--      -->
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
<hr>
  <h3 *ngIf="mesQuery">
    <span><b>Code Information</b></span>
  </h3>
  <div class="row">
    <div class="col-md-12">
      <!--     result query status here-->
      <div>
        <div *ngIf="mesQuery" class="card-header">
          <span class="text text-sm-left">* Inquiry Result: {{mesQuery}}</span>
          <br/>
          <span class="text text-sm-left">* Inquiry Date: {{timeQuery}}</span>
        </div>
        <!--     -->
        <!--result table-->
        <div style="overflow-x:auto;"  *ngIf="listCode">
        <table class="table table-bordered text-center" style="background: white">
          <thead class="bg-primary">
          <tr>
            <th scope="col">Code Classification</th>
            <th scope="col">Code</th>
            <th scope="col">Code Name</th>
            <th scope="col">English Code Name</th>
            <th scope="col">Valid Start Date</th>
            <th scope="col">Valid End Date</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let code of listCode.rowRs" (dblclick)="openDetailForm(openModalUpdate,code)">
            <th scope="row">{{code.CD_CLASS}}</th>
            <td>{{code.CODE}}</td>
            <td>{{code.CODENM}}</td>
            <td>{{code.CODENM_EN}}</td>
            <td>{{code.VALID_START_DT}}</td>
            <td>{{code.VALID_END_DT}}</td>
            <td *ngIf="code.STATUS == 1" class="text-success">Active</td>
            <td *ngIf="code.STATUS == 2" class="text-warning">Expired</td>
            <td *ngIf="code.STATUS == 0" class="text-danger">History</td>
            <td><button class="btn btn-sm btn-instagram" (click)="openDetailForm(openModalUpdate,code)">Detail</button></td>
          </tr>
          </tbody>
        </table>
          <div>
            <nav aria-label="Page navigation example">
              <ul *ngIf="pagerCode.pages && pagerCode.pages.length && listCode" class="pagination justify-content-center">
                <li [ngClass]="{disabled:pagerCode.currentPage == 1}" class="page-item">
                  <a (click)="setPageCode(1)" (click)="paginationCode(0)" class="page-link" aria-label="Previous">
                    First
                  </a>
                </li>
                <li [ngClass]="{disabled:pagerCode.currentPage == 1}" class="page-item">
                  <a (click)="setPageCode(pagerCode.currentPage - 1)" (click)="paginationCode(pagerCode.currentPage - 2)" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li *ngFor="let page of pagerCode.pages" [ngClass]="{active:pagerCode.currentPage == page}" class="page-item">
                  <a class="page-link" (click)="setPageCode(page)" (click)="paginationCode(page - 1)">{{page}}</a></li>
                <li [ngClass]="{disabled:pagerCode.currentPage == pagerCode.totalPages}" class="page-item">
                  <a (click)="setPageCode(pagerCode.currentPage + 1) " (click)="paginationCode(pagerCode.currentPage - 1)" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li [ngClass]="{disabled:pagerCode.currentPage == pagerCode.totalPages}" class="page-item">
                  <a (click)="paginationCode(pagerCode.totalPages - 1)" (click)="setPageCode(pagerCode.totalPages)" class="page-link" aria-label="Next">
                    Last
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--      -->
      </div>
    </div>
  </div>
</div>


<!-- Modal show CodeClassification -->
<div class="modal fade" id="CodeClassification" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Code Classification</h5>
        <button #closeModalSearchOrga type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="searchCodeClassForm">
        <div class="row">
          <div class="col-md 12">
            * Code Classification
            <br/>
            <input formControlName="codeClassification" type="text" class="form-control-sm">
            <br/>
            <br/>
            * Code Name
            <br/>
            <input formControlName="codeClassificationName" type="text" class="form-control-sm">
            <br/>
            <br/>
            <div class="text-center">
              <button *ngIf="isLookingCodeClass ; else otherCdClass" class="btn btn-sm btn-outline-primary">
                Looking
                <span class="spinner-border spinner-border-sm"></span>
              </button>
              <ng-template #otherCdClass>
                <button class="btn btn-sm btn-outline-primary" (click)="searchCodeClassification()">Look up</button>
              </ng-template>
            </div>
          </div>
        </div>
        </form>
        <hr>
        <div class="row" *ngIf="listCodeClass">
          <div class="col-md-12" style="overflow-x:auto;">
            <table class="table table-bordered">
              <thead class="thead-light fixed">
              <tr>
                <th  scope="col">Code</th>
                <th  scope="col">Code Classification</th>
                <th  scope="col">Code Name</th>
                <th  scope="col">English Code Name</th>
                <th  scope="col"></th>
              </tr>
              </thead>
              <tr *ngFor="let codeClass of listCodeClass.rowRs" (dblclick)="getValueToInputOrga(codeClass,closeModalSearchOrga)">
                <td >{{codeClass.CODE}}</td>
                <td >{{codeClass.CD_CLASS}}</td>
                <td >{{codeClass.CODE_NM}}</td>
                <td >{{codeClass.CODE_NM_EN}}</td>
                <td><button class="btn btn-sm btn-instagram" (click)="getValueToInputOrga(codeClass,closeModalSearchOrga)"><i class="icon-plus"></i></button></td>
              </tr>
            </table>
            <div>
              <nav aria-label="Page navigation example">
                <ul *ngIf="pagerCodeClass.pages && pagerCodeClass.pages.length && listCodeClass" class="pagination pagination-sm justify-content-center">
                  <li [ngClass]="{disabled:pagerCodeClass.currentPage == 1}" class="page-item">
                    <a (click)="setPageCodeClassificatio(1)" (click)="CodeClassPagination(0)" class="page-link" aria-label="Previous">
                      First
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerCodeClass.currentPage == 1}" class="page-item">
                    <a (click)="setPageCodeClassificatio(pagerCodeClass.currentPage - 1)" (click)="CodeClassPagination(pagerCodeClass.currentPage - 2)" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li *ngFor="let page of pagerCodeClass.pages" [ngClass]="{active:pagerCodeClass.currentPage == page}" class="page-item">
                    <a class="page-link" (click)="setPageCodeClassificatio(page)" (click)="CodeClassPagination(page - 1)">{{page}}</a></li>
                  <li [ngClass]="{disabled:pagerCodeClass.currentPage == pagerCodeClass.totalPages}" class="page-item">
                    <a (click)="setPageCodeClassificatio(pagerCodeClass.currentPage + 1) " (click)="CodeClassPagination(pagerCodeClass.currentPage - 1)" class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerCodeClass.currentPage == pagerCodeClass.totalPages}" class="page-item">
                    <a (click)="CodeClassPagination(pagerCodeClass.totalPages - 1)" (click)="setPageCodeClassificatio(pagerCodeClass.totalPages)" class="page-link" aria-label="Next">
                      Last
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---->



<!-- Button to Open the ModalUpdate -->
<button #openModalUpdate hidden type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalUpdate">
  Open modal
</button>
<!-- Modal Update -->
<div class="modal fade" id="myModalUpdate">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Detailed Code Information</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formUpdateCode">
          <div class="row" *ngIf="code">
            <div *ngIf="checkRoleAccount.isRoleAdmin && formUpdateCode.value.STATUS != 0" class="col-md-12" style="overflow-x:auto;">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Code Classification</th>
                  <th class="tb-value text-center">
                    <div>
                      <div class="btn-group">
                        <label>{{formUpdateCode.value.CD_CLASS}}</label>
                      </div>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Code</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.CODE}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Code Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <input maxlength="300" formControlName="CODENM" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!---->
                  <th class=" text-center tb-name">English Code Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <input maxlength="300" formControlName="CODENM_EN" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Parent Code Classification</th>
                  <th class="tb-value text-center">
                    <div>
                      <input maxlength="5" formControlName="PRT_CD_CLASS" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Parent Code</th>
                  <th class="tb-value text-center">
                    <div>
                      <input maxlength="50" formControlName="PRT_CODE" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Valid Start Date</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.VALID_START_DT}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Valid End Date</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.VALID_END_DT}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Final Operation Date
                  </th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.SYS_DTIM}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Work ID
                  </th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.WORK_ID}}</label>
                    </div>
                  </th>
                </tr>
              </table>
              <div class="row">
                <div class="col-5">
                </div>
                <div class="col-2">
                  <div class="form-group ">
                    <div class="text-center">
                      <span *ngIf="!formUpdateCode.value.STATUS == 2">Status:<b class="text-warning"> Expire</b></span>
                      <span *ngIf="formUpdateCode.value.STATUS == 1">Status:<b class="text-success"> Active</b></span>
                    </div>
                    <select formControlName="STATUS" name="selectStatus" class="custom-select">
                      <option value=1 class="text-success">Active</option>
                      <option value=2 class="text-warning">Expire</option>
                    </select>
                  </div>
                </div>
                <div class="col-5">
                </div>
              </div>
            </div>
            <div *ngIf="checkRoleAccount.isRoleAdmin && formUpdateCode.value.STATUS == 0 " class="col-md-12" style="overflow-x:auto;">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Code Classification</th>
                  <th class="tb-value text-center">
                    <div>
                      <div class="btn-group">
                        <label>{{formUpdateCode.value.CD_CLASS}}</label>
                      </div>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Code</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.CODE}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Code Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.CODENM}}</label>
                    </div>
                  </th>
                  <!---->
                  <th class=" text-center tb-name">English Code Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.CODENM_EN}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Parent Code Classification</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.PRT_CD_CLASS}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Parent Code</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.PRT_CODE}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Valid Start Date</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.VALID_START_DT}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Valid End Date</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.VALID_END_DT}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Final Operation Date
                  </th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.SYS_DTIM}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Work ID
                  </th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.WORK_ID}}</label>
                    </div>
                  </th>
                </tr>
              </table>
              <div class="row">
                <div class="col-5">
                </div>
                <div class="col-2">
                  <div class="form-group ">
                    <div class="text-center">
                      <span *ngIf="formUpdateCode.value.STATUS == 0">Status:<b class="text-danger"> History </b></span>
                    </div>
                  </div>
                </div>
                <div class="col-5">
                </div>
              </div>
            </div>
            <div *ngIf="checkRoleAccount.isRoleUser" class="col-md-12" style="overflow-x:auto;">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Code Classification</th>
                  <th class="tb-value text-center">
                    <div>
                      <div class="btn-group">
                        <label>{{formUpdateCode.value.CD_CLASS}}</label>
                      </div>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Code</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.CODE}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Code Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.CODENM}}</label>
                    </div>
                  </th>
                  <!---->
                  <th class=" text-center tb-name">English Code Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.CODENM_EN}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Parent Code Classification</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.PRT_CD_CLASS}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Parent Code</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.PRT_CODE}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Valid Start Date</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.VALID_START_DT}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Valid End Date</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.VALID_END_DT}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Final Operation Date
                  </th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.SYS_DTIM}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Work ID
                  </th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateCode.value.WORK_ID}}</label>
                    </div>
                  </th>
                </tr>
              </table>
              <div class="row">
                <div class="col-5">
                </div>
                <div class="col-2">
                  <div class="form-group ">
                    <div class="text-center">
                      <span *ngIf="formUpdateCode.value.STATUS == 0">Status:<b class="text-danger"> History </b></span>
                      <span *ngIf="formUpdateCode.value.STATUS == 1">Status:<b class="text-success"> Active </b></span>
                      <span *ngIf="formUpdateCode.value.STATUS == 2">Status:<b class="text-warning"> Expired </b></span>
                    </div>
                  </div>
                </div>
                <div class="col-5">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="text-center">
        <h5>
          <b class="alert text-dark">{{this.messUpdate}}</b>
        </h5>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer" *ngIf="checkRoleAccount.isRoleAdmin && formUpdateCode.value.STATUS != 0">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="isWaitingUpdate ; else otherUpdate" class="btn btn-outline-primary">
          Saving
          <span class="spinner-border spinner-border-sm"></span>
        </button>
        <ng-template #otherUpdate>
          <button  type="button" class="btn btn-outline-primary " (click)="editCode()" >Save</button>
        </ng-template>
      </div>

    </div>
  </div>
</div>
<!---->




<!-- Modal show Organization Name of Update-->
<div class="modal fade" id="CodeClassificationOfUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Code Classification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md 12">
            * Code Classification
            <br/>
            <input type="text" class="form-control-sm">

            <br/>
            <br/>

            * Code Classification Name
            <br/>
            <input type="text" class="form-control-sm">
            <br/>
            <br/>
            <div class="text-center">
              <button class="btn btn-sm btn-outline-primary">Look up</button>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead class="thead-light">
              <tr>
                <th class="result text-center" scope="col">Classification</th>
                <th class="text-center" scope="col">Code Classification name</th>
                <th class="text-center" scope="col">English Code Classification name</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="text-center" >C0001</td>
                <td class="text-center" >API 업무구분 코드</td>
                <td class="text-center" >API TASK CODE</td>
              </tr>

              <tr>
                <td class="text-center" >R0001</td>
                <td class="text-center" >API 응답코드</td>
                <td class="text-center" >API RESPONSE CODE</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---->


<!-- Button to Open the ModalRegister-->
<button hidden type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalUpdate">
  Open modal
</button>
<!-- Modal Register -->
<div class="modal fade" id="myModalRegister">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Register Code</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formRegisterCode">
          <div class="row">
            <div class="col-md-12" style="overflow-x:auto;">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Code Classification*</th>
                  <th class="tb-value text-center">
                    <div>
                        <div class="btn-group">
                          <input maxlength="5" formControlName="codeClass" type="text" class="form-control">
                          <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle"
                                  data-toggle="modal" data-target="#CodeClassificationOfRegister">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                        </div>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Code*</th>
                  <th class="tb-value text-center">
                    <div>
                        <input maxlength="50" formControlName="code" class="form-control" contenteditable="true" type="text">
                      </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Code Name</th>
                  <th class="tb-value text-center">
                    <div>
                        <input maxlength="300" formControlName="codeNm" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                  <!---->
                  <th class=" text-center tb-name">English Code Name</th>
                  <th class="tb-value text-center">
                    <div>
                        <input maxlength="300" formControlName="codeNmEn" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Parent Code Classification</th>
                  <th class="tb-value text-center">
                    <div>
                        <input maxlength="5" formControlName="prtCdClass" class="form-control" contenteditable="true" type="text">
                      </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Parent Code</th>
                  <th class="tb-value text-center">
                    <div>
                        <input maxlength="50" formControlName="prtCd" class="form-control" contenteditable="true" type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Valid Start Date*</th>
                  <th class="tb-value text-center">
                    <div>
                        <input formControlName="validStartDt" class="form-control" contenteditable="true" type="date">
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Valid End Date*</th>
                  <th class="tb-value text-center">
                    <div>
                        <input formControlName="validEndDt" class="form-control" contenteditable="true" type="date">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Final Operation Date*
                  </th>
                  <th class="tb-value text-center">
                    <div>
                        {{this.timeNow}}
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Work Id
                  </th>
                  <th class="tb-value text-center">
                    <div>
                        {{currentUserName}}
                    </div>
                  </th>
                </tr>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="text-center">
        <h5>
          <b class="alert text-dark">{{this.messageValidRes}}</b>
        </h5>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="isWaitingRegister ; else otherRegister" class="btn btn-outline-primary">
          Saving
          <span class="spinner-border spinner-border-sm"></span>
        </button>
        <ng-template #otherRegister>
          <button  type="button" class="btn btn-outline-primary" (click)="registerCode()" >Save</button>
        </ng-template>
      </div>

    </div>
  </div>
</div>
<!---->


<!-- Modal show code class of Register-->
<div class="modal fade" id="CodeClassificationOfRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Code Classification</h5>
        <button #closeModalSearchOrgaRegister type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="searchCodeClassForm">
          <div class="row">
            <div class="col-md 12">
              * Code Classification
              <br/>
              <input formControlName="codeClassification" type="text" class="form-control-sm">
              <br/>
              <br/>
              * Code Name
              <br/>
              <input formControlName="codeClassificationName" type="text" class="form-control-sm">
              <br/>
              <br/>
              <div class="text-center">
                <button *ngIf="isLookingCodeClass ; else otherCdClass" class="btn btn-sm btn-outline-primary">
                  Looking
                  <span class="spinner-border spinner-border-sm"></span>
                </button>
                <ng-template #otherCdClass>
                  <button class="btn btn-sm btn-outline-primary" (click)="searchCodeClassification()">Look up</button>
                </ng-template>
              </div>
            </div>
          </div>
        </form>
        <hr>
        <div class="row" *ngIf="listCodeClass">
          <div class="col-md-12" style="overflow-x:auto;">
            <table class="table table-bordered">
              <thead class="thead-light fixed">
              <tr>
                <th  scope="col">Classification</th>
                <th  scope="col">Code Name</th>
                <th  scope="col">English Code Name</th>
                <th  scope="col"></th>
              </tr>
              </thead>
              <tr *ngFor="let codeClass of listCodeClass.rowRs" (dblclick)="getValueToInputOrgaRegister(codeClass,closeModalSearchOrgaRegister)">
                <td >{{codeClass.CD_CLASS}}</td>
                <td >{{codeClass.CODE_NM}}</td>
                <td >{{codeClass.CODE_NM_EN}}</td>
                <td ><button class="btn btn-sm btn-instagram" (click)="getValueToInputOrgaRegister(codeClass,closeModalSearchOrgaRegister)"><i class="icon-plus"></i></button></td>
              </tr>
            </table>
            <div>
              <nav aria-label="Page navigation example">
                <ul *ngIf="pagerCodeClass.pages && pagerCodeClass.pages.length && listCodeClass" class="pagination pagination-sm justify-content-center">
                  <li [ngClass]="{disabled:pagerCodeClass.currentPage == 1}" class="page-item">
                    <a (click)="setPageCodeClassificatio(1)" (click)="CodeClassPagination(0)" class="page-link" aria-label="Previous">
                      First
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerCodeClass.currentPage == 1}" class="page-item">
                    <a (click)="setPageCodeClassificatio(pagerCodeClass.currentPage - 1)" (click)="CodeClassPagination(pagerCodeClass.currentPage - 2)" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li *ngFor="let page of pagerCodeClass.pages" [ngClass]="{active:pagerCodeClass.currentPage == page}" class="page-item">
                    <a class="page-link" (click)="setPageCodeClassificatio(page)" (click)="CodeClassPagination(page - 1)">{{page}}</a></li>
                  <li [ngClass]="{disabled:pagerCodeClass.currentPage == pagerCodeClass.totalPages}" class="page-item">
                    <a (click)="setPageCodeClassificatio(pagerCodeClass.currentPage + 1) " (click)="CodeClassPagination(pagerCodeClass.currentPage - 1)" class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerCodeClass.currentPage == pagerCodeClass.totalPages}" class="page-item">
                    <a (click)="CodeClassPagination(pagerCodeClass.totalPages - 1)" (click)="setPageCodeClassificatio(pagerCodeClass.totalPages)" class="page-link" aria-label="Next">
                      Last
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---->
