.infor-merchant{
    padding:20px;
}

.infor-merchant .infor-wrap {
    border-radius: 10px;
    background-color: #f2f2f2;
}

.infor-merchant .day-wrap {
    background-color: #91cb40;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.infor-merchant .week-wrap {
    background-color: #f7b500;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.infor-merchant .month-wrap {
    background-color: #1b8fe9;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.infor-merchant .balance-wrap {
    background-color: #b5141a;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.infor-merchant .title {
    color: #fff;
    font-size: 16px;
    padding: 10px;
}
.title {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

.infor-merchant .payment-wrap {
    border-bottom: 1px solid #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.infor-merchant .payment-wrap .infor {
    font-size: 24px;
    color: #333;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 700;
}

.mt-auto, .my-auto {
    margin-top: auto!important;
}
.justify-content-between {
    justify-content: space-between!important;
}
.d-flex {
    display: flex!important;
}

.infor-merchant .request-wrap .label-request {
    font-size: 1rem;
    color: #333;
    padding-left: 10px;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.infor-merchant .request-wrap .number-request-day {
    font-size: 1rem;
    color: #91cb40;
    padding-right: 10px;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.infor-merchant .request-wrap .number-request-week {
    font-size: 1rem;
    color: #ffb000;
    padding-right: 10px;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.infor-merchant .request-wrap .number-request-month {
    font-size: 1rem;
    color: #1b8fe9;
    padding-right: 10px;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.infor-merchant .request-wrap .balance-available {
    font-size: 1rem;
    color: #b5141a;
    padding-right: 10px;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}
