<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h3>
    	<span><b>FPT - Total Balance Information</b></span>
  		</h3>
    </div>
    <div>
      <div class="infor-merchant row" *ngIf = "response">
			<div class="col-md-3 col-6">
				<div class="d-flex flex-column h-100 infor-wrap">
					<div class="title day-wrap" for="">A Day</div>
					<div class="payment-wrap"><label class="infor" for="">{{response.Data.fee1Day.available | number}} VND</label></div>
					<div class="request-wrap d-flex justify-content-between mt-auto">
						<label class="label-request" for="">Pending</label>
						<label class="number-request-day" for="">{{response.Data.fee1Day.pending| number}}</label>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-6">
				<div class="d-flex flex-column h-100 infor-wrap">
					<div class="title week-wrap" for="">Week</div>
						<div class="payment-wrap"><label class="infor" for="">{{response.Data.fee7Day.available| number}} VND</label></div>
						<div class="request-wrap d-flex justify-content-between mt-auto">
							<label class="label-request" for="">Pending</label>
							<label class="number-request-week" for="">{{response.Data.fee7Day.pending| number}}</label>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-6">
				<div class="d-flex flex-column h-100 infor-wrap">
					<div class="title month-wrap" for="">Month</div>
					<div class="payment-wrap"><label class="infor" for="">{{response.Data.fee30Day.available| number}} VND</label></div>
					<div class="request-wrap d-flex justify-content-between mt-auto">
						<label class="label-request" for="">Pending</label>
						<label class="number-request-month" for="">{{response.Data.fee30Day.pending| number}}</label>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-6">
				<div class="d-flex flex-column h-100 infor-wrap">
					<div class="title balance-wrap" for="">Total Balance</div>
					<div class="payment-wrap">
					<label class="infor" for="">{{response.Data.balance.available| number}} VND</label></div>
					<div class="request-wrap d-flex justify-content-between mt-auto">
					<label class="label-request" for="">Pending</label>
					<label class="balance-available" for="">{{response.Data.balance.pending| number}} VND</label>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>