

<div class="container-fluid">
  <!--  -->
  <div class="row">
    <div class="col-md-12">
      <h3>
        <span><b>B0002</b></span>
      </h3>
      <div class="card acik-renk-form">
        <div class="card-body">
          <form [formGroup]="formSearchCIC">
            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-6">
                <div class="form-group text-center">
                  <label>* Nice Session Number</label>
                  <br/>
                  <input formControlName="niceSsID"  type="text" class="form-control">
                  <br/>
                  <div class="text-center">
                    <button *ngIf="isLooking ; else other" class="btn btn-outline-primary">
                      Looking
                      <span class="spinner-border spinner-border-sm"></span>
                    </button>
                    <ng-template #other>
                      <button class="btn btn-outline-primary" (click)="searchB0002() ">Look up</button>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
              </div>
            </div>
          </form>
        </div>

        <!--      -->
      </div>
    </div>
  </div>
  <hr>
  <!--    -->
  <div class="row">
    <div class="col-md-6">
      <h3>
        <span><b></b></span>
      </h3>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!--     result query status here-->
      <div>
        <div *ngIf="mesQuery" class="card-header">
          <span class="text text-sm-left">* Inquiry Result: {{mesQuery}}</span>
          <br/>
          <span class="text text-sm-left">* Inquiry Date: {{timeQuery}}</span>
        </div>
        <!--result table-->
        <div style="overflow-x:auto;" *ngIf="listB0002" >
        <table class="table table-bordered text-center" style="background: white">
          <thead class="bg-primary">
          <tr>
            <th scope="col">NICE session number</th>
            <th scope="col">Organization code</th>
            <th scope="col">English Organization Name</th>
            <th scope="col">Product Number</th>
            <th scope="col">CIC number</th>
            <th scope="col">Inquiry Date</th>
            <th scope="col">Status code</th>
            <th scope="col">Response code</th>
            <th scope="col">Final operation date</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let CICRp of listB0002.rowRs" (dblclick)="openDetailForm(openModalUpdate , CICRp)">
            <th scope="row">{{CICRp.NICE_SSIN_ID}}</th>
            <td>{{CICRp.CUST_CD}}</td>
            <td>{{CICRp.CUST_NM_ENG}}</td>
            <td>{{CICRp.GDS_CD}}</td>
            <td>{{CICRp.CIC_ID}}</td>
            <td>{{CICRp.INQ_DTIM}}</td>
            <td>{{CICRp.SCRP_STAT_CD}}</td>
            <td>{{CICRp.RSP_CD}}</td>
            <td>{{CICRp.SYS_DTIM}}</td>
            <td><button (click)="openDetailForm(openModalUpdate , CICRp)" class="btn btn-sm btn-instagram">Detail</button></td>
          </tr>
          </tbody>
        </table>
          <div>
            <nav aria-label="Page navigation example">
              <ul *ngIf="pagerB0002.pages && pagerB0002.pages.length && listB0002" class="pagination justify-content-center">
                <li [ngClass]="{disabled:pagerB0002.currentPage == 1}" class="page-item">
                  <a (click)="setPageSearchB0002(1)" (click)="paginationB0002(0)" class="page-link" aria-label="Previous">
                    First
                  </a>
                </li>
                <li [ngClass]="{disabled:pagerB0002.currentPage == 1}" class="page-item">
                  <a (click)="setPageSearchB0002(pagerB0002.currentPage - 1)" (click)="paginationB0002(pagerB0002.currentPage - 2)" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li *ngFor="let page of pagerB0002.pages" [ngClass]="{active:pagerB0002.currentPage == page}" class="page-item">
                  <a class="page-link" (click)="setPageSearchB0002(page)" (click)="paginationB0002(page - 1)">{{page}}</a></li>
                <li [ngClass]="{disabled:pagerB0002.currentPage == pagerB0002.totalPages}" class="page-item">
                  <a (click)="setPageSearchB0002(pagerB0002.currentPage + 1) " (click)="paginationB0002(pagerB0002.currentPage - 1)" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li [ngClass]="{disabled:pagerB0002.currentPage == pagerB0002.totalPages}" class="page-item">
                  <a (click)="paginationB0002(pagerB0002.totalPages - 1)" (click)="setPageSearchB0002(pagerB0002.totalPages)" class="page-link" aria-label="Next">
                    Last
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--      -->
      </div>
    </div>
  </div>
</div>


<!-- Button to Open the ModalUpdate -->
<button #openModalUpdate hidden type="button" data-keyboard="false" data-backdrop="static" class="btn btn-primary" data-toggle="modal" data-target="#myModalUpdate">
  Open modal
</button>
<!-- Modal Update -->
<div class="modal fade" id="myModalUpdate">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
            <p> Detailed
              Information</p>
        </h4>
        <button #closeModalB0002 hidden type="button" class="close" data-dismiss="modal">&times;</button>
        <button #openModalConfirmClose hidden  data-keyboard="false" data-backdrop="static" class="btn btn-outline-dark"  type="button" data-toggle="modal" data-target="#exampleModalCloseB0002"></button>
        <button class="btn btn-outline-dark" (click)="checkToCloseModalB0002(closeModalB0002, openModalConfirmClose)"  type="button" >Close</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" *ngIf="CICRp">
        <form>
          <div class="row">
            <div class="container register-form">
              <div class="form">
                <div class="form-content">
                  <div class="row" *ngIf="resCaptcha">
                    <div class="col-md-4 "></div>
                    <div class="col-md-4 ">
                      <div class="form-group text-center">
                        <br/>
                        <img src="data:image/png;base64,{{resCaptcha.imgBase64}}" />
                        <br/>
                        <br/>
                        Step: <span class="badge badge-info">{{resCaptcha.dataStep.step}}</span>
                        <br/>
                        <div class="form-group">
                          <input [(ngModel)]="captchaInput" name="captcha" type="text" class="form-control" placeholder="Insert Captcha Here" value=""/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 "></div>
                  </div>
                  <div class="text-center">
                    <h5 class=" text-danger"> {{messCaptchaInput}} </h5>
                    <div *ngIf="messCaptcha">
                      <h5 class=" text-danger"> {{messCaptcha}} </h5>
                      <button (click)="searchB0002()" class="btn btn-sm" data-dismiss="modal"><i class="icon icon-refresh"></i>Try again</button>
                    </div>
                    <div *ngIf="cicNo" class="text-success">
                      <h5> Name: {{nameCus}} </h5>
                      <h5> CIC Number: {{cicNo}} </h5>
                    </div>
                  </div>
                  <br/>
                  <div class="text-center">
                    <div>
                      <button *ngIf="isSubmitting ; else submit" class="btn btn-outline-info">
                        Submitting
                        <span class="spinner-border spinner-border-sm"></span>
                      </button>
                    </div>
                    <ng-template #submit>
                      <button *ngIf="!messCaptcha && !cicNo"  type="button" class="btn btn-outline-info" (click)="getImageCaptcha()">Submit</button>
                    </ng-template>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>NICE session number</span>
                        <input disabled type="text" name="nice" class="form-control" [(ngModel)]="CICRp.NICE_SSIN_ID"/>
                      </div>
                      <div class="form-group">
                        <span>Organization code</span>
                        <input disabled type="text" name="nice2" class="form-control" [(ngModel)]="CICRp.CUST_CD"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Organization session number</span>
                        <input disabled type="text" name="nice3" class="form-control" [(ngModel)]="CICRp.CUST_SSID_ID"/>
                      </div>
                      <div class="form-group">
                        <span>English Organization name</span>
                        <input disabled type="text" name="nice4" class="form-control" [(ngModel)]="CICRp.CUST_NM_ENG"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Product code</span>
                        <input disabled type="text" name="nice5" class="form-control" [(ngModel)]="CICRp.GDS_CD"/>
                      </div>
                      <div class="form-group">
                        <span>Customer ID</span>
                        <input disabled type="text" name="nice6" class="form-control" [(ngModel)]="CICRp.CUST_ID"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Tax payment code</span>
                        <input disabled type="text" name="nice7" class="form-control" [(ngModel)]="CICRp.TAX_ID"/>
                      </div>
                      <div class="form-group">
                        <span>Other ID</span>
                        <input disabled type="text" name="nice8" class="form-control" [(ngModel)]="CICRp.OTR_ID"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Final operation date</span>
                        <input disabled type="text" name="nice9" class="form-control" [(ngModel)]="CICRp.SYS_DTIM"/>
                      </div>
                      <div class="form-group">
                        <span>Response code</span>
                        <input disabled type="text" name="nice15" class="form-control" [(ngModel)]="CICRp.RSP_CD"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>User ID</span>
                        <input disabled type="text" name="nice10" class="form-control" [(ngModel)]="CICRp.LOGIN_ID"/>
                      </div>
                      <div class="form-group">
                        <span>CIC number</span>
                        <input disabled type="text" name="nice11" class="form-control" [(ngModel)]="CICRp.CIC_ID"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Inquiry date</span>
                        <input disabled type="text" name="nice12" class="form-control" [(ngModel)]="CICRp.INQ_DTIM"/>
                      </div>
                      <div class="form-group">
                        <span>Consent to Providing Information</span>
                        <input disabled type="text" class="form-control" name="nice13" [(ngModel)]="CICRp.AGR_FG"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Status code</span>
                        <input disabled type="text" name="nice15" class="form-control" [(ngModel)]="CICRp.SCRP_STAT_CD"/>
                      </div>
                      <div class="form-group">
                        <span>National ID</span>
                        <input disabled type="text" name="nice14" class="form-control" [(ngModel)]="CICRp.NATL_ID"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Passport</span>
                        <input disabled type="text" name="nice16" class="form-control" [(ngModel)]="CICRp.PSPT_NO"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Old National ID</span>
                        <input disabled type="text" name="nice17" class="form-control" [(ngModel)]="CICRp.OLD_NATL_ID"/>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal close B0002 -->
<div class="modal fade" id="exampleModalCloseB0002" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Notify</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h5><b>Do you want to exit?</b></h5>
      </div>
      <div class="modal-footer">
        <button #closeModalConfirm type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" (click)="closeProcessCaptcha(closeModalB0002, closeModalConfirm)" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>










