
<div class="container-fluid">
  <!--  -->
  <div class="row">
    <div class="col-md-12">
      <h3>
        <span><b>B0003</b></span>
      </h3>
      <div class="card acik-renk-form">
        <div class="card-body">
          <form [formGroup]="formSearchB0003">
            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-6">
                <div class="form-group text-center">
                  <label>* Nice Session Number</label>
                  <br/>
                  <input formControlName="niceSsID"  type="text" class="form-control">
                  <br/>
                  <div class="text-center">
                    <button *ngIf="isLooking ; else other" class="btn btn-outline-primary">
                      Looking
                      <span class="spinner-border spinner-border-sm"></span>
                    </button>
                    <ng-template #other>
                      <button class="btn btn-outline-primary" (click)="searchB0003() ">Look up</button>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
              </div>
            </div>
          </form>
        </div>

        <!--      -->
      </div>
    </div>
  </div>
  <!--    -->
  <div class="row">
    <div class="col-md-6">
      <h3>
        <span><b></b></span>
      </h3>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!--     result query status here-->
      <div>
        <div *ngIf="mesQuery" class="card-header">
          <span class="text text-sm-left">* Inquiry Result: {{mesQuery}}</span>
          <br/>
          <span class="text text-sm-left">* Inquiry Date: {{timeQuery}}</span>
        </div>
        <!--result table-->
        <div style="overflow-x:auto;" *ngIf="listB003">
        <table class="table table-bordered text-center" style="background: white">
          <thead class="bg-primary">
          <tr>
            <th scope="col">NICE session number</th>
            <th scope="col">CIC number</th>
            <th scope="col">Inquiry Date</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let b003 of listB003.rowRs" (dblclick)="openDetailForm(openModalUpdate , b003)">
            <th scope="row">{{b003.NICE_SSIN_ID}}</th>
            <td>{{b003.S_CIC_NO}}</td>
            <td>{{b003.INQ_DTIM}}</td>
            <td><button (click)="openDetailForm(openModalUpdate , b003)" class="btn btn-sm btn-instagram">Detail</button></td>
          </tr>
          </tbody>
        </table>
          <div>
            <nav aria-label="Page navigation example">
              <ul *ngIf="pagerB0003.pages && pagerB0003.pages.length && listB003" class="pagination justify-content-center">
                <li [ngClass]="{disabled:pagerB0003.currentPage == 1}" class="page-item">
                  <a (click)="setPageSearchB0003(1)" (click)="paginationB0003(0)" class="page-link" aria-label="Previous">
                    First
                  </a>
                </li>
                <li [ngClass]="{disabled:pagerB0003.currentPage == 1}" class="page-item">
                  <a (click)="setPageSearchB0003(pagerB0003.currentPage - 1)" (click)="paginationB0003(pagerB0003.currentPage - 2)" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li *ngFor="let page of pagerB0003.pages" [ngClass]="{active:pagerB0003.currentPage == page}" class="page-item">
                  <a class="page-link" (click)="setPageSearchB0003(page)" (click)="paginationB0003(page - 1)">{{page}}</a></li>
                <li [ngClass]="{disabled:pagerB0003.currentPage == pagerB0003.totalPages}" class="page-item">
                  <a (click)="setPageSearchB0003(pagerB0003.currentPage + 1) " (click)="paginationB0003(pagerB0003.currentPage - 1)" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li [ngClass]="{disabled:pagerB0003.currentPage == pagerB0003.totalPages}" class="page-item">
                  <a (click)="paginationB0003(pagerB0003.totalPages - 1)" (click)="setPageSearchB0003(pagerB0003.totalPages)" class="page-link" aria-label="Next">
                    Last
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--      -->
      </div>
    </div>
  </div>
</div>


<!-- Button to Open the ModalUpdate -->
<button #openModalUpdate hidden type="button" class="btn btn-primary" data-keyboard="false" data-backdrop="static"  data-toggle="modal" data-target="#myModalUpdate">
  Open modal
</button>
<!-- Modal Update -->
<div class="modal fade" id="myModalUpdate">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          <div *ngIf="listB003AfterSendCaptcha">
            <p> B0003 History Inquiry </p>
          </div>
          <div *ngIf="!listB003AfterSendCaptcha">
            <p> B0003 History Search </p>
          </div>
        </h4>
        <button #closeModalB0003 hidden type="button" class="close" data-dismiss="modal">&times;</button>
        <button #openModalConfirmCloseB0003 hidden data-keyboard="false" class="btn btn-outline-dark" data-backdrop="static"  type="button" data-toggle="modal" data-target="#exampleModalCloseB0003">Close</button>
        <button class="btn btn-outline-dark" (click)="checkToCloseModalB0003(closeModalB0003 , openModalConfirmCloseB0003)" >Close</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div *ngIf="B003 && !listB003AfterSendCaptcha">
        <form>
          <div class="row">
            <div class="container register-form">
              <div class="form">
                <div class="form-content">
                  <div class="row" *ngIf="responseB003">
                    <div class="col-md-4 "></div>
                    <div class="col-md-4 ">
                      <div class="form-group text-center">
                        <br/>
                        <img src="data:image/png;base64,{{responseB003.imgBase64}}" />
                        <br/>
                        <br/>
                        Step: <span class="badge badge-info">{{responseB003.dataStep.step}}</span>
                        <br/>
                        <div class="form-group">
                          <input [(ngModel)]="inputCaptcha" name="captcha" type="text" class="form-control" placeholder="Insert Captcha Here" value=""/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 "></div>
                  </div>
                  <div class="text-center">
                    <h5 class=" text-danger"> {{messCaptchaInput}} </h5>
                    <div *ngIf="messCaptcha">
                      <h5 class=" text-danger"> {{messCaptcha}} </h5>
                      <button (click)="searchB0003()" class="btn btn-sm" data-dismiss="modal"><i class="icon icon-refresh"></i>Try again</button>
                    </div>
                  </div>
                  <br/>
                  <div class="text-center">
                    <div>
                      <button *ngIf="isSubmitting ; else submit" class="btn btn-outline-info">
                        Submitting
                        <span class="spinner-border spinner-border-sm"></span>
                      </button>
                    </div>
                    <ng-template #submit>
                      <button *ngIf="!messCaptcha"  type="button" class="btn btn-outline-info" (click)="B003SendData()">Submit</button>
                    </ng-template>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>NICE session number</span>
                        <input disabled type="text" name="nice2222" class="form-control" [(ngModel)]="B003.NICE_SSIN_ID"/>
                      </div>
                      <div class="form-group">
                        <span>CIC Number</span>
                        <input disabled type="text" name="nice2" class="form-control" [(ngModel)]="B003.S_CIC_NO"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Inquiry Date</span>
                        <input disabled type="text" name="nice333" class="form-control" [(ngModel)]="B003.INQ_DTIM"/>
                      </div>
                      <div class="form-group">
                        <span>User ID</span>
                        <input disabled type="text" name="333" class="form-control" [(ngModel)]="B003.S_USER_ID"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>National ID</span>
                        <input disabled type="text" name="nice332" class="form-control" [(ngModel)]="B003.NATL_ID"/>
                      </div>
                      <div class="form-group">
                        <span>Passport</span>
                        <input disabled type="text" name="nice11w3" class="form-control" [(ngModel)]="B003.PSPT_NO"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span>Old National ID</span>
                        <input disabled type="text" name="nice2234" class="form-control" [(ngModel)]="B003.OLD_NATL_ID"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        </div>
        <div *ngIf="listB003AfterSendCaptcha">
          <table class="table table-bordered text-center">
            <thead class="bg-primary">
            <tr>
              <th scope="col">CIC Number</th>
              <th scope="col">Name</th>
              <th scope="col">Report Type</th>
              <th scope="col">CMT TAX Number</th>
              <th scope="col">Request Date Time</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of listB003AfterSendCaptcha">
              <th scope="row">{{data.cicNo}}</th>
              <td>{{data.name}}</td>
              <td>{{data.reportType}}</td>
              <td>{{data.cmt_tax_no}}</td>
              <td>{{data.reqDt}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal close B0003 -->
<div class="modal fade" id="exampleModalCloseB0003" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Notify</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h5><b>Do you want to exit?</b></h5>
      </div>
      <div class="modal-footer">
        <button #closeModalConfirm type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" (click)="closeProcessCaptcha(closeModalB0003, closeModalConfirm)" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>
