<div *ngIf="checkRoleAcount.isRoleAdmin">
  <div class="container-fluid">
    <!--  -->
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="formSearchUser">
          <h3>
            <span><b>User Management</b></span>
          </h3>
          <div class="card acik-renk-form">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group ">
                    <label>* User Classification</label>
                    <select formControlName="userClass" class="form-control">
                      <option value="1">1: Internal</option>
                      <option value="2">2: External</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group ">
                    <label> * User ID</label>
                    <br/>
                    <input formControlName="userID" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group ">
                    <label>* Username</label>
                    <br/>
                    <input formControlName="userName" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="text-center">
                    <button *ngIf="isLooking ; else other" class="btn btn-outline-primary">
                      Looking
                      <span class="spinner-border spinner-border-sm"></span>
                    </button>
                    <ng-template #other>
                      <button class="btn btn-outline-primary" (click)="searchUser()">Look up</button>
                    </ng-template>
                    <button type="button" class="btn btn-outline-success" data-toggle="modal"
                            data-target="#myModalRegister" (click)="resetRegisterMes()">
                      Register
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group ">
                    <label> * Organization Code</label>
                    <br/>
                    <input formControlName="orgCode" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group ">
                    <label> *
                      Organization Name</label>
                    <br/>
                    <div class="btn-group">
                      <input disabled value="{{organizationName}}" type="text" class="form-control">
                      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle"
                              data-toggle="modal" data-target="#ModalOrganizationName">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>*
                    Information Status</label>
                  <div class="form-group ">
                    <select formControlName="active" id="ilceler" class="custom-select">
                      <option value=1 [selected]="true">Active</option>
                      <option value=2>Expire</option>
                      <option value=3>All</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <!--      -->
          </div>
        </form>
      </div>
    </div>
    <!--    -->
    <hr>
    <div class="row">
      <h3 *ngIf="mesQuery">
        <span><b>User Information</b></span>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!--     result query status here-->
        <div>
          <div *ngIf="mesQuery" class="card-header">
            <span class="text text-sm-left">* Inquiry Result: {{mesQuery}}</span>
            <br/>
            <span class="text text-sm-left">* Inquiry Date: {{timeQuery}}</span>
          </div>
          <!--     -->
          <!--result table-->
          <div style="overflow-x:auto;" *ngIf="listUser">
            <table class="table table-bordered text-center" style="background: white">
              <thead class="bg-primary">
              <tr>
                <th scope="col">User ID</th>
                <th scope="col">Username</th>
                <th scope="col">Organization code</th>
                <th scope="col">Organization name</th>
                <th scope="col">Valid Start Date</th>
                <th scope="col">Valid End Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of listUser.rowRs" (dblclick)="openDetailForm(openModalUpdate, user)">
                <th scope="row">{{user.USER_ID}}</th>
                <td>{{user.USER_NM}}</td>
                <td>{{user.CUST_CD}}</td>
                <td>{{user.CUST_NM}}</td>
                <td>{{user.VALID_START_DT}}</td>
                <td>{{user.VALID_END_DT}}</td>
                <td *ngIf="user.ACTIVE == 1" class="text-success">Active</td>
                <td *ngIf="user.ACTIVE == 0" class="text-danger">History</td>
                <td *ngIf="user.ACTIVE == 2" class="text-warning">Expired</td>
                <td>
                  <button class="btn btn-sm btn-instagram" (click)="openDetailForm(openModalUpdate, user)">Detail
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <div>
              <nav aria-label="Page navigation example">
                <ul *ngIf="pagerUser.pages && pagerUser.pages.length && listUser"
                    class="pagination justify-content-center">
                  <li [ngClass]="{disabled:pagerUser.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchUser(1)" (click)="paginationUser(0)" class="page-link"
                       aria-label="Previous">
                      First
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerUser.currentPage == 1}" class="page-item">
                    <a (click)="setPageSearchUser(pagerUser.currentPage - 1)"
                       (click)="paginationUser(pagerUser.currentPage - 2)" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li *ngFor="let page of pagerUser.pages" [ngClass]="{active:pagerUser.currentPage == page}"
                      class="page-item">
                    <a class="page-link" (click)="setPageSearchUser(page)"
                       (click)="paginationUser(page - 1)">{{page}}</a></li>
                  <li [ngClass]="{disabled:pagerUser.currentPage == pagerUser.totalPages}" class="page-item">
                    <a (click)="setPageSearchUser(pagerUser.currentPage + 1) "
                       (click)="paginationUser(pagerUser.currentPage - 1)" class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li [ngClass]="{disabled:pagerUser.currentPage == pagerUser.totalPages}" class="page-item">
                    <a (click)="paginationUser(pagerUser.totalPages - 1)"
                       (click)="setPageSearchUser(pagerUser.totalPages)" class="page-link" aria-label="Next">
                      Last
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <!--      -->
        </div>
      </div>
    </div>
  </div>


  <!-- Modal show Organization Name -->
  <div class="modal fade" id="ModalOrganizationName" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Organization Selection</h5>
          <button #closeOrnName type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md 12">
              <form [formGroup]="formSearchOrgModal">
                * Organization Classification
                <br/>
                <input formControlName="custClassicfication" type="text" class="form-control-sm">

                <br/>
                <br/>

                * Organization Name
                <br/>
                <input formControlName="custNm" type="text" class="form-control-sm">
                <br/>
                <br/>
                <span class="text-danger">
               {{mesSearchOrg}}
             </span>
                <div class="text-center">
                  <button *ngIf="isLookingOrg ; else org" class="btn btn-sm btn-outline-primary">
                    Looking
                    <span class="spinner-border spinner-border-sm"></span>
                  </button>
                  <ng-template #org>
                    <button class="btn btn-sm btn-outline-primary" (click)="searchOrgByNameOrClass()">Look up</button>
                  </ng-template>
                </div>
              </form>
            </div>
          </div>
          <hr>
          <div class="row" *ngIf="listOrg">
            <div class="col-md-12" style="overflow-x:auto;">
              <table class="table table-bordered">
                <thead class="thead-light fixed">
                <tr>
                  <th scope="col">Classification</th>
                  <th scope="col">Code</th>
                  <th scope="col">Name</th>
                  <th scope="col">English Name</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tr *ngFor="let cust of listOrg.rowRs" (dblclick)="getDataToInputSearch(closeOrnName,cust)">
                  <td class="text-center">{{cust.CUST_GB}}</td>
                  <td class="text-center">{{cust.CUST_CD}}</td>
                  <td class="text-center">{{cust.CUST_NM}}</td>
                  <td class="text-center">{{cust.CUST_NM_ENG}}</td>
                  <td class="text-center">
                    <button (click)="getDataToInputSearch(closeOrnName,cust)" class="btn btn-instagram btn-sm"><i
                      class="icon-plus"></i></button>
                  </td>
                </tr>
              </table>
              <div>
                <nav aria-label="Page navigation example">
                  <ul *ngIf="pagerOrg.pages && pagerOrg.pages.length && listOrg"
                      class="pagination pagination-sm justify-content-center">
                    <li [ngClass]="{disabled:pagerOrg.currentPage == 1}" class="page-item">
                      <a (click)="setPageSearchCustModal(1)" (click)="paginationCustModal(0)" class="page-link"
                         aria-label="Previous">
                        First
                      </a>
                    </li>
                    <li [ngClass]="{disabled:pagerOrg.currentPage == 1}" class="page-item">
                      <a (click)="setPageSearchCustModal(pagerOrg.currentPage - 1)"
                         (click)="paginationCustModal(pagerOrg.currentPage - 2)" class="page-link"
                         aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li *ngFor="let page of pagerOrg.pages" [ngClass]="{active:pagerOrg.currentPage == page}"
                        class="page-item">
                      <a class="page-link" (click)="setPageSearchCustModal(page)"
                         (click)="paginationCustModal(page - 1)">{{page}}</a></li>
                    <li [ngClass]="{disabled:pagerOrg.currentPage == pagerOrg.totalPages}" class="page-item">
                      <a (click)="setPageSearchCustModal(pagerOrg.currentPage + 1) "
                         (click)="paginationCustModal(pagerOrg.currentPage - 1)" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                    <li [ngClass]="{disabled:pagerOrg.currentPage == pagerOrg.totalPages}" class="page-item">
                      <a (click)="paginationCustModal(pagerOrg.totalPages - 1)"
                         (click)="setPageSearchCustModal(pagerOrg.totalPages)" class="page-link" aria-label="Next">
                        Last
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---->


  <!-- Button to Open the ModalUpdate -->
  <button #openModalUpdate hidden type="button" class="btn btn-primary" data-toggle="modal"
          data-target="#myModalUpdate">
    Open modal
  </button>
  <!-- Modal Update -->
  <div class="modal fade" id="myModalUpdate">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">
            User Detailed
            Information
          </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="text-center">
          <button *ngIf="isWaitingGetRole" class="btn btn-outline-primary border-0">
            <span class="spinner-border spinner-border-lg"></span>
          </button>
        <!-- Modal body -->
        <div class="modal-body" *ngIf="formUpdateUser.value.ACTIVE != 0">
          <form [formGroup]="formUpdateUser">
          <div class="row" *ngIf="IUser && !isWaitingGetRole">
            <div class="col-md-12" style="overflow-x:auto;">
              <div class="text-right">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalResetPassword">Reset
                  Password
                </button>
              </div>
              <hr>
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <th class="text-center tb-name">User ID</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateUser.value.USER_ID}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Username</th>
                  <th class="tb-value text-center">
                    <div>
                      <!--                    <input disabled maxlength="50" [(ngModel)]="IUser.USER_NM" class="form-control" contenteditable="true" type="text">-->
                      <div>
                        <input maxlength="50" formControlName="USER_NM" type="text" class="form-control">
                      </div>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Organization code</th>
                  <th class="tb-value text-center">
                    <div>
                      <div class="btn-group">
                        <input maxlength="10" formControlName="CUST_CD" type="text" class="form-control">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle"
                                data-toggle="modal" data-target="#OrganizationNameForUpdate">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                      </div>
                    </div>
                  </th>
                  <!---->
                  <th class=" text-center tb-name">Organization name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateUser.value.CUST_NM}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">User classification</th>
                  <th class="tb-value text-center">
                    <label *ngIf="formUpdateUser.value.INOUT_GB == 1">Internal</label>
                    <label *ngIf="formUpdateUser.value.INOUT_GB == 2">External</label>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Role</th>
                  <th class="tb-value text-center">
                    <label >{{formUpdateUser.value.ROLE}}</label>
                    <select formControlName="ROLE_ID"  class="form-control">
                      <option  value = 1 [hidden]="formUpdateUser.value.ROLE == 'User'">User</option>
                      <option value = 2 [hidden]="formUpdateUser.value.ROLE == 'Admin'">Admin</option>
                      <option value = 3 [hidden]="formUpdateUser.value.ROLE == 'Captcha'">Captcha</option>
                    </select>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Phone number</th>
                  <th class="tb-value text-center">
                    <div>
                      <input maxlength="200" formControlName="TEL_NO_MOBILE" class="form-control"
                             contenteditable="true" type="text">
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Email</th>
                  <th class="tb-value text-center">
                    <div>
                      <input maxlength="200" formControlName="EMAIL" class="form-control" contenteditable="true"
                             type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Valid start date
                  </th>
                  <th class="tb-value text-center">
                    <span>{{formUpdateUser.value.VALID_START_DT}}</span>
                    <div>
                      <input formControlName="VALID_START_DT" class="form-control" contenteditable="true" type="date">
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Valid end date
                  </th>
                  <th class="tb-value text-center">
                    <span>{{formUpdateUser.value.VALID_END_DT}}</span>
                    <div>
                      <input formControlName="VALID_END_DT" class="form-control" contenteditable="true" type="date">
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Final operation date</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateUser.value.SYS_DTIM}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">User ID</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateUser.value.WORK_ID}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
              </table>

              <table class="table table-bordered">
                <tr>
                  <th class=" text-center tb-name">Address</th>
                  <th class="text-center tb-address">
                    <div>
                      <input maxlength="1000" formControlName="ADDR" class="form-control" contenteditable="true"
                             type="text">
                    </div>
                  </th>
                </tr>
                <!--                -->
              </table>
            </div>
            <div class="col-5">
            </div>
            <div class="col-2">
              <div class="form-group ">
                <div class="text-center">
                  <span><b>Status </b></span>
                </div>
                <select formControlName="ACTIVE" name="selectStatus" class="custom-select">
                  <option *ngIf="formUpdateUser.value.ACTIVE == 1" selected disabled>Active</option>
                  <option *ngIf="formUpdateUser.value.ACTIVE == 2" selected disabled>Expire</option>
                  <option value=1 class="text-success">Active</option>
                  <option value=2 class="text-warning">Expire</option>
                </select>
              </div>
            </div>
            <div class="col-5">
            </div>
          </div>
          </form>
        </div>
        <div class="modal-body" *ngIf="formUpdateUser.value.ACTIVE == 0">
          <form [formGroup]="formUpdateUser">
          <div class="row" *ngIf="IUser && !isWaitingGetRole ">
            <div class="col-md-12" style="overflow-x:auto;">
              <table class="table table-bordered">
                <!--                -->
                <tr>
                  <th class="text-center tb-name">User ID</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateUser.value.USER_ID}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">User Name</th>
                  <th class="tb-value text-center">
                    <div>
                      <!--                    <input disabled maxlength="50" [(ngModel)]="IUser.USER_NM" class="form-control" contenteditable="true" type="text">-->
                      <div>
                        <label>{{formUpdateUser.value.USER_NM}}</label>
                      </div>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Organization code</th>
                  <th class="tb-value text-center">
                    <div>
                        <label>{{formUpdateUser.value.CUST_CD}}</label>
                    </div>
                  </th>
                  <!---->
                  <th class=" text-center tb-name">Organization name</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateUser.value.CUST_NM}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">User classification</th>
                  <th class="tb-value text-center">
                    <label *ngIf="formUpdateUser.value.INOUT_GB == 1">Internal</label>
                    <label *ngIf="formUpdateUser.value.INOUT_GB == 2">External</label>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">Role</th>
                  <th class="tb-value text-center">
                    <label>{{formUpdateUser.value.ROLE}}</label>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class=" text-center tb-name">Phone number</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateUser.value.TEL_NO_MOBILE}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">Email</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateUser.value.EMAIL}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">
                    Valid start date
                  </th>
                  <th class="tb-value text-center">
                    <span>{{formUpdateUser.value.VALID_START_DT}}</span>
                  </th>
                  <!--                  -->
                  <th class=" text-center tb-name">
                    Valid end date
                  </th>
                  <th class="tb-value text-center">
                    <span>{{formUpdateUser.value.VALID_END_DT}}</span>
                  </th>
                </tr>
                <!--                -->
                <tr>
                  <th class="text-center tb-name">Final operation date</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateUser.value.SYS_DTIM}}</label>
                    </div>
                  </th>
                  <!--                  -->
                  <th class="text-center tb-name">User ID</th>
                  <th class="tb-value text-center">
                    <div>
                      <label>{{formUpdateUser.value.WORK_ID}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
              </table>

              <table class="table table-bordered">
                <tr>
                  <th class=" text-center tb-name">Address</th>
                  <th class="text-center tb-address">
                    <div>
                      <label>{{formUpdateUser.value.ADDR}}</label>
                    </div>
                  </th>
                </tr>
                <!--                -->
              </table>
            </div>
            <div class="col-5">
            </div>
            <div class="col-2">
              <div class="form-group ">
                <div class="text-center">
                  <span><b>Status: </b></span>
                  <label *ngIf="formUpdateUser.value.ACTIVE == 1" class="text-success"> Active</label>
                  <label *ngIf="formUpdateUser.value.ACTIVE == 0" class="text-danger"> History</label>
                </div>
              </div>
            </div>
            <div class="col-5">
            </div>
          </div>
          </form>
        </div>
        <div class="text-center">
          <h5>
            <b class="alert text-dark">{{this.messageValidUpdate}}</b>
          </h5>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer" *ngIf="IUser && !isWaitingGetRole">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <button *ngIf="isWaitingUpdate ; else update" class="btn btn-outline-primary">
            Saving
            <span class="spinner-border spinner-border-sm"></span>
          </button>
          <ng-template #update>
            <button type="button" class="btn btn-outline-primary " (click)="updateUser()">Save</button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Modal show Organization Name of form Update -->
  <div class="modal fade" id="OrganizationNameForUpdate" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Organization Selection</h5>
          <button #closeOrnNameUpdate type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md 12">
              <form [formGroup]="formSearchOrgModal">
                * Organization Classification
                <br/>
                <input formControlName="custClassicfication" type="text" class="form-control-sm">

                <br/>
                <br/>

                * Organization Name
                <br/>
                <input formControlName="custNm" type="text" class="form-control-sm">
                <br/>
                <br/>
                <span class="text-danger">
               {{mesSearchOrg}}
             </span>
                <div class="text-center">
                  <button *ngIf="isLookingOrg ; else org" class="btn btn-sm btn-outline-primary">
                    Looking
                    <span class="spinner-border spinner-border-sm"></span>
                  </button>
                  <ng-template #org>
                    <button class="btn btn-sm btn-outline-primary" (click)="searchOrgByNameOrClass()">Look up</button>
                  </ng-template>
                </div>
              </form>
            </div>
          </div>
          <hr>
          <div class="row" *ngIf="listOrg">
            <div class="col-md-12" style="overflow-x:auto;">
              <table class="table table-bordered">
                <thead class="thead-light fixed">
                <tr>
                  <th scope="col">Classification</th>
                  <th scope="col">Code</th>
                  <th scope="col">Name</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tr *ngFor="let cust of listOrg.rowRs" (dblclick)="getDataToInputUpdate(closeOrnNameUpdate,cust)">
                  <td class="text-center">{{cust.CUST_GB}}</td>
                  <td class="text-center">{{cust.CUST_CD}}</td>
                  <td class="text-center">{{cust.CUST_NM}}</td>
                  <td class="text-center">
                    <button (click)="getDataToInputUpdate(closeOrnNameUpdate,cust)" class="btn btn-sm btn-instagram"><i
                      class="icon-plus"></i></button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---->


  <!-- Button to Open the ModalRegister -->
  <button hidden type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalUpdate">
    Open modal
  </button>
  <!-- Modal Register -->
  <div class="modal fade" id="myModalRegister">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">
            Register User
          </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="formCreateUser">
            <div class="row">
              <div class="col-md-12" style="overflow-x:auto;">
                <table class="table table-bordered">
                  <!--                -->
                  <tr>
                    <th class="text-center tb-name">User ID</th>
                    <th class="tb-value text-center">
                      <div>
                        <input maxlength="20" formControlName="userID" class="form-control" contenteditable="true" type="text">
                      </div>
                    </th>
                    <!--                  -->
                    <th class="text-center tb-name">User Name</th>
                    <th class="tb-value text-center">
                      <div>
                        <input maxlength="50" formControlName="userName" class="form-control" contenteditable="true"
                               type="text">
                      </div>
                    </th>
                  </tr>
                  <!--                -->
                  <tr>
                    <th class=" text-center tb-name">Organization code</th>
                    <th class="tb-value text-center">
                      <div>
                        <div class="btn-group">
                          <input maxlength="10" formControlName="orgCode" type="text" class="form-control">
                          <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle"
                                  data-toggle="modal" data-target="#OrganizationNameForRegister">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                        </div>
                      </div>
                    </th>
                    <!---->
                    <th class=" text-center tb-name">Organization name</th>
                    <th class="tb-value text-center">
                      <div>
                        <input disabled formControlName="orgName" class="form-control" contenteditable="true"
                               type="text">
                      </div>
                    </th>
                  </tr>
                  <!--                -->
                  <tr>
                    <th class="text-center tb-name">User classification</th>
                    <th class="tb-value text-center">
                      <div>
                        <select formControlName="userClass" class="form-control">
                          <option value="1"> 1:Internal</option>
                          <option value="2" selected> 2:External</option>
                        </select>
                      </div>
                    </th>
                    <!--                  -->
                    <th class="text-center tb-name">Role</th>
                    <th>
                      <select formControlName="role" name="selectStatus" class="form-control">
                        <option selected value = 1>User</option>
                        <option value = 2>Admin</option>
                        <option value = 3>Captcha</option>
                      </select>
                    </th>
                  </tr>
                  <!--                -->
                  <tr>
                    <th class=" text-center tb-name">Phone number</th>
                    <th class="tb-value text-center">
                      <div>
                        <input maxlength="200" formControlName="phone" class="form-control" contenteditable="true"
                               type="text">
                      </div>
                    </th>
                    <!--                  -->
                    <th class=" text-center tb-name">Email</th>
                    <th class="tb-value text-center">
                      <div>
                        <input maxlength="200" formControlName="email" class="form-control" contenteditable="true"
                               type="text">
                      </div>
                    </th>
                  </tr>
                  <!--                -->
                  <tr>
                    <th class="text-center tb-name">
                      Valid start date
                    </th>
                    <th class="tb-value text-center">
                      <div>
                        <input formControlName="validStartDT" class="form-control" contenteditable="true" type="date">
                      </div>
                    </th>
                    <!--                  -->
                    <th class=" text-center tb-name">
                      Valid end date
                    </th>
                    <th class="tb-value text-center">
                      <div>

                        <input formControlName="validEndDT" class="form-control" contenteditable="true" type="date">
                      </div>
                    </th>
                  </tr>
                  <!--                -->
                  <tr>
                    <th class="text-center tb-name">Final operation date</th>
                    <th class="tb-value text-center">
                      <div>
                        {{timeNow}}
                      </div>
                    </th>
                    <!--                  -->
                    <th class="text-center tb-name">Work ID</th>
                    <th class="tb-value text-center">
                      <div>
                        {{currentUserName}}
                      </div>
                    </th>
                  </tr>
                  <!--                -->
                </table>

                <table class="table table-bordered">
                  <tr>
                    <th class=" text-center tb-name">Address</th>
                    <th class="text-center tb-address">
                      <div>
                        <input maxlength="1000" formControlName="address" class="form-control" contenteditable="true"
                               type="text">
                      </div>
                    </th>
                  </tr>
                  <!--                -->
                </table>
              </div>
              <div class="col-5">
              </div>
              <div class="col-2">
                <div class="form-group ">
                  <div class="text-center">
                    <span><b>Status </b></span>
                  </div>
                  <select formControlName="active" name="selectStatus" class="custom-select">
                    <option value=1 class="text-success">Active</option>
                    <option value=0 class="text-danger">Expire</option>
                  </select>
                </div>
              </div>
              <div class="col-5">
              </div>
            </div>
          </form>
        </div>
        <div class="text-center">
          <h5>
            <b class="alert text-dark">{{this.messageValidCreate}}</b>
          </h5>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <button *ngIf="isWaitingReg ; else register" class="btn btn-outline-primary">
            Saving
            <span class="spinner-border spinner-border-sm"></span>
          </button>
          <ng-template #register>
            <button type="button" class="btn btn-outline-primary " (click)="createUser()">Save</button>
          </ng-template>
        </div>

      </div>
    </div>
  </div>


  <!-- Modal show Organization Name of form Register -->
  <div class="modal fade" id="OrganizationNameForRegister" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Organization Selection</h5>
          <button #closeOrnNameRegister type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md 12">
              <form [formGroup]="formSearchOrgModal">
                * Organization Classification
                <br/>
                <input formControlName="custClassicfication" type="text" class="form-control-sm">

                <br/>
                <br/>

                * Organization Name
                <br/>
                <input formControlName="custNm" type="text" class="form-control-sm">
                <br/>
                <br/>
                <span class="text-danger">
               {{mesSearchOrg}}
             </span>
                <div class="text-center">
                  <button *ngIf="isLookingOrg ; else org" class="btn btn-sm btn-outline-primary">
                    Looking
                    <span class="spinner-border spinner-border-sm"></span>
                  </button>
                  <ng-template #org>
                    <button class="btn btn-sm btn-outline-primary" (click)="searchOrgByNameOrClass()">Look up</button>
                  </ng-template>
                </div>
              </form>
            </div>
          </div>
          <hr>
          <div class="row" *ngIf="listOrg">
            <div class="col-md-12" style="overflow-x:auto;">
              <table class="table table-bordered">
                <thead class="thead-light fixed">
                <tr>
                  <th scope="col">Classification</th>
                  <th scope="col">Code</th>
                  <th scope="col">Name</th>
                  <th scope="col">English Name</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tr *ngFor="let cust of listOrg.rowRs" (dblclick)="getDataToInputRegister(closeOrnNameRegister,cust)">
                  <td class="text-center">{{cust.CUST_GB}}</td>
                  <td class="text-center">{{cust.CUST_CD}}</td>
                  <td class="text-center">{{cust.CUST_NM}}</td>
                  <td class="text-center">{{cust.CUST_NM_ENG}}</td>
                  <td class="text-center">
                    <button (click)="getDataToInputRegister(closeOrnNameRegister,cust)"
                            class="btn btn-sm btn-instagram"><i class="icon-plus"></i></button>
                  </td>
                </tr>
              </table>
              <div>
                <nav aria-label="Page navigation example">
                  <ul *ngIf="pagerOrg.pages && pagerOrg.pages.length && listOrg"
                      class="pagination pagination-sm justify-content-center">
                    <li [ngClass]="{disabled:pagerOrg.currentPage == 1}" class="page-item">
                      <a (click)="setPageSearchCustModal(1)" (click)="paginationCustModal(0)" class="page-link"
                         aria-label="Previous">
                        First
                      </a>
                    </li>
                    <li [ngClass]="{disabled:pagerOrg.currentPage == 1}" class="page-item">
                      <a (click)="setPageSearchCustModal(pagerOrg.currentPage - 1)"
                         (click)="paginationCustModal(pagerOrg.currentPage - 2)" class="page-link"
                         aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li *ngFor="let page of pagerOrg.pages" [ngClass]="{active:pagerOrg.currentPage == page}"
                        class="page-item">
                      <a class="page-link" (click)="setPageSearchCustModal(page)"
                         (click)="paginationCustModal(page - 1)">{{page}}</a></li>
                    <li [ngClass]="{disabled:pagerOrg.currentPage == pagerOrg.totalPages}" class="page-item">
                      <a (click)="setPageSearchCustModal(pagerOrg.currentPage + 1) "
                         (click)="paginationCustModal(pagerOrg.currentPage - 1)" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                    <li [ngClass]="{disabled:pagerOrg.currentPage == pagerOrg.totalPages}" class="page-item">
                      <a (click)="paginationCustModal(pagerOrg.totalPages - 1)"
                         (click)="setPageSearchCustModal(pagerOrg.totalPages)" class="page-link" aria-label="Next">
                        Last
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---->

  <!--modal reset password-->
  <div class="modal fade" id="modalResetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title text-dark" id="x">Confirm Reset Password Dialog</h6>
          <button #closeModaleRsPW type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-danger">
          <h5>Password of current user will be restore to default password.</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button *ngIf="isWaitingRsPW ; else rsPW" class="btn btn-outline-primary">
            Saving
            <span class="spinner-border spinner-border-sm"></span>
          </button>
          <ng-template #rsPW>
            <button type="button" class="btn btn-primary" (click)="resetPassword(closeModaleRsPW)">Reset Password
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <!---->

</div>
<!--User acount can see it -->
<div *ngIf="checkRoleAcount.isRoleUser || checkRoleAcount.isAccessCaptcha">
  <div class="container-fluid">
    <div class="row" *ngIf="currentUserJsonStorage">
      <div class="col-md-12" style="overflow-x:auto; background: white">
        <div class="card-body">
          <!--        <div class="text-right">-->
          <!--          <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalResetPassword">Reset Password</button>-->
          <!--        </div>-->
          <!--        <hr>-->
          <table class="table table-bordered">
            <!--                -->
            <tr>
              <th class="text-center tb-name">User ID</th>
              <th class="tb-value text-center">
                <div>
                  <label>{{currentUserJsonStorage.USER_ID}}</label>
                </div>
              </th>
              <!--                  -->
              <th class="text-center tb-name">Username</th>
              <th class="tb-value text-center">
                <div>
                  <!--                    <input disabled maxlength="50" [(ngModel)]="IUser.USER_NM" class="form-control" contenteditable="true" type="text">-->
                  <div>
                    <label>{{currentUserJsonStorage.USER_NM}}</label>
                  </div>
                </div>
              </th>
            </tr>
            <!--                -->
            <tr>
              <th class=" text-center tb-name">Organization code</th>
              <th class="tb-value text-center">
                <div>
                  <div class="btn-group">
                    <label>{{currentUserJsonStorage.CUST_CD}}</label>
                    <!--                  <input maxlength="10" [(ngModel)]="currentUserJsonStorage.CUST_CD" type="text" class="form-control">-->
                    <!--                  <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle"-->
                    <!--                          data-toggle="modal" data-target="#OrganizationNameForUpdate">-->
                    <!--                    <span class="sr-only">Toggle Dropdown</span>-->
                    <!--                  </button>-->
                  </div>
                </div>
              </th>
              <!---->
              <th class=" text-center tb-name">Organization name</th>
              <th class="tb-value text-center">
                <div>
                  <label>{{currentUserJsonStorage.CUST_NM}}</label>
                </div>
              </th>
            </tr>
            <!--                -->
            <tr>
              <th class="text-center tb-name">User classification</th>
              <th class="tb-value text-center">
                <label *ngIf="currentUserJsonStorage.INOUT_GB == 1">Internal</label>
                <label *ngIf="currentUserJsonStorage.INOUT_GB == 2">External</label>
              </th>
              <!--                  -->
              <th class="text-center tb-name">Role</th>
              <th class="tb-value text-center">
                <label *ngIf="checkRoleAcount.isRoleUser">User</label>
                <label *ngIf="checkRoleAcount.isAccessCaptcha">Captcha</label>
                <!--              <select [(ngModel)]="IUser.ROLE_ID" name="selectStatus" class="custom-select">-->
                <!--                <option *ngIf="IUser.ROLE_ID" selected disabled>{{IUser.ROLE}}</option>-->
                <!--                <option value = 1  >USER</option>-->
                <!--                <option value = 2  >ADMIN</option>-->
                <!--              </select>-->
              </th>
            </tr>
            <!--                -->
            <tr>
              <th class=" text-center tb-name">Phone number</th>
              <th class="tb-value text-center">
                <div>
                  <!--                <input maxlength="200" [(ngModel)]="IUser.TEL_NO_MOBILE" class="form-control" contenteditable="true" type="text">-->
                  <label>{{currentUserJsonStorage.TEL_NO_MOBILE}}</label>
                </div>
              </th>
              <!--                  -->
              <th class=" text-center tb-name">Email</th>
              <th class="tb-value text-center">
                <div>
                  <!--                <input maxlength="200" [(ngModel)]="IUser.EMAIL" class="form-control" contenteditable="true" type="text">-->
                  <label>{{currentUserJsonStorage.EMAIL}}</label>
                </div>
              </th>
            </tr>
            <!--                -->
            <tr>
              <th class="text-center tb-name">
                Valid start date
              </th>
              <th class="tb-value text-center">
                <!--              <span>{{IUser.VALID_START_DT}}</span>-->
                <!--              <div>-->
                <!--                <input [(ngModel)]="IUser.VALID_START_DT" class="form-control" contenteditable="true" type="date">-->
                <!--              </div>-->
                <label>{{currentUserJsonStorage.VALID_START_DT}}</label>
              </th>
              <!--                  -->
              <th class=" text-center tb-name">
                Valid end date
              </th>
              <th class="tb-value text-center">
                <!--              <span>{{IUser.VALID_END_DT}}</span>-->
                <!--              <div>-->
                <!--                <input [(ngModel)]="IUser.VALID_END_DT" class="form-control" contenteditable="true" type="date">-->
                <!--              </div>-->
                <label>{{currentUserJsonStorage.VALID_END_DT}}</label>
              </th>
            </tr>
            <!--                -->
            <tr>
              <th class="text-center tb-name">Final operation date</th>
              <th class="tb-value text-center">
                <div>
                  <label>{{currentUserJsonStorage.SYS_DTIM}}</label>
                </div>
              </th>
              <!--                  -->
              <th class="text-center tb-name">User ID</th>
              <th class="tb-value text-center">
                <div>
                  <label>{{currentUserJsonStorage.WORK_ID}}</label>
                </div>
              </th>
            </tr>
            <!--                -->
          </table>

          <table class="table table-bordered">
            <tr>
              <th class=" text-center tb-name">Address</th>
              <th class="text-center tb-address">
                <div>
                  <!--                <input maxlength="1000" [(ngModel)]="IUser.ADDR" class="form-control" contenteditable="true" type="text">-->
                  <label>{{currentUserJsonStorage.ADDR}}</label>
                </div>
              </th>
            </tr>
            <!--                -->
          </table>
          <div class="row">
            <div class="col-5">
            </div>
            <div class="col-2">
              <div class="form-group ">
                <div class="text-center">
                  <span><b>Status: </b></span>
                  <label *ngIf="currentUserJsonStorage.ACTIVE === 1" class="text-success"> Active</label>
                  <label *ngIf="currentUserJsonStorage.ACTIVE === 0" class="text-danger"> History</label>
                </div>
              </div>
            </div>
            <div class="col-5">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
